<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emit | Features</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      html {overflow-y:scroll;position:relative;height:100%;min-height:100%;}
      footer {padding-top:2ex;padding-bottom:1ex;}
    </style>
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/i18n/angular-locale_fr-fr.js"></script>
  <script type="text/javascript">
  var app = angular.module('app',[]);

  app.filter('ceil', function() {
	return function(input) {
      return Math.ceil(input);
	};
  });
  
  app.controller('controller', function ($scope, $http) {

	$scope.username = null;
	  
  	var check = function() {
  		$http({method:'GET',url:'../user/check'})
  		.then(function onSuccess(response) {
  			$scope.username = response.data;
  		}, function onError(response) {
  			$scope.username = null;
  		});
  	}
	  
  	$scope.doClear = function() {
  		$http({method:'GET',url:'../user/clear'})
  		.then(function onSuccess(response) {
  		}, function onError(response) {
  		});
  	}

  	check();
  	
    $scope.message = {};
    
    var display = function(type, content) {
        $scope.message.type = type;
        $scope.message.content = content;
        $("#alert").show();
    }
    
    $scope.doClose = function() {
        $("#alert").hide();
        $scope.alert = {};
    }
    
    $scope.activated = false;
	$scope.instruments = [];
	$scope.measures = [];

    var list = function() {
      $http({method:'GET',url:'../measures/list'})
        .then(function onSuccess(response) {
          $scope.measures = response.data;
        },function onError(response) {
          $scope.measures = [];
      });
      $http({method:'GET',url:'../instruments/list'})
      .then(function onSuccess(response) {
        $scope.instruments = response.data;
      },function onError(response) {
        $scope.instruments = [];
      });
    }
    
    list();
    
    $scope.setInstrument = function(instrument) {
    	$scope.activated = true;
    	$scope.item.instrument = instrument;
    	size();
    	page();
    }
    
    $scope.setMeasure = function(measure) {
    	$scope.item.measure = measure;
    }

    $scope.doReset = function() {
    	$scope.activated = false;
    	$scope.item = angular.copy(empty);
    	$scope.items = [];
	}
    
  	var empty = {};
  	var selected = false;
  	
  	$scope.item = {};
  	
    $scope.length = 5;
    $scope.offset = 0;
    $scope.size = 0;
    $scope.items = [];
    
    $scope.doPrev = function() {
      if ($scope.length <= $scope.offset) {
        $scope.offset = $scope.offset - $scope.length;
        page();
      }
    }
    
    $scope.doNext = function() {
      if ($scope.offset + $scope.length < $scope.size) {
        $scope.offset = $scope.offset + $scope.length;
        page();                     
      }
    }
    
    $scope.doFirst = function() {
      $scope.offset = 0;
      page();
    }

    $scope.doLast = function() {
      $scope.offset = Math.floor(($scope.size - 1) / $scope.length) * $scope.length;
      page();
    }

    var size = function() {
      var content = "instrument=" + $scope.item.instrument.id; 
      $http({method:'GET',url:'../features/size?' + content})
      .then(function onSuccess(response) {
        $scope.size = response.data;
      },function onError(response) {
        $scope.size = 0;
      });
    }

    var page = function() {
      var content = "instrument=" + $scope.item.instrument.id + "&length=" + $scope.length + "&offset=" + $scope.offset; 
      $http({method:'GET',url:'../features/page?' + content})
      .then(function onSuccess(response) {
        $scope.items = response.data;
      },function onError(response) {
        $scope.items = [];
      });
    }

    $scope.doCreate = function() {
      var content = "name=" + encodeURIComponent($scope.item.name) + "&factor=" + $scope.item.factor + "&measure=" + $scope.item.measure.id + "&instrument=" + $scope.item.instrument.id;
      $http({method:'POST',url:'../features/create',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
       	display("success", "The feature has been sucessfully created.");
       	$scope.doClean();
    	size();
    	page();
      },function onError(response) {
          display("danger", "Something wrong happened while feature the measure.");
          $scope.doClean();
      });
    }

    $scope.doUpdate = function() {
      var content = "id=" + $scope.item.id + "&name=" + encodeURIComponent($scope.item.name) + "&factor=" + $scope.item.factor + "&measure=" + $scope.item.measure.id + "&instrument=" + $scope.item.instrument.id;
      $http({method:'POST',url:'../features/update',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
       	display("success", "The feature " + $scope.item.id + " has been sucessfully updated.");
    	$scope.doClean();
    	size();
    	page();
      },function onError(response) {
          display("danger", "Something wrong happened while updating the feature #" + $scope.item.id + ".");
          $scope.doClean();
      });
    }

    $scope.doDelete = function() {
      var content = "id=" + $scope.item.id;
      $http({method:'POST',url:'../features/delete',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
      	display("success", "The feature " + $scope.item.id + " has been sucessfully deleted.");
      	$scope.doClean();
    	if (Math.ceil($scope.size / $scope.length) < $scope.offset) {
    		$scope.offset = $scope.offset - $scope.length;
    	}
    	size();
    	page();
      },function onError(response) {
        display("danger", "Something wrong happened while deleting the feature #" + $scope.item.id +".");
        $scope.doClean();
      });
    }
    
    $scope.doSelect = function(item) {
    	selected = true;
        $scope.item = angular.copy(item);
	}
    
    $scope.doClean = function() {
    	selected = false;
    	var instrument = angular.copy($scope.item.instrument);
        $scope.item = angular.copy(empty);
        $scope.item.instrument = instrument;
        $scope.alert = angular.copy(empty);
	}
    
    $scope.canCreate = function() {
      return selected === false;
	}
    
	$scope.canUpdate = function() {
		return selected === true;
	}
    
  });
  </script>
  <body ng-app="app" ng-controller="controller">
    <header>
      <div class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="../index.html"><!-- span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;Emit</span --><strong>Emit</strong></a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <!-- span class="glyphicon glyphicon-dashboard" aria-hidden="true">&nbsp;Monitoring</span --> Monitoring
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="../monitor/measures.html"><span class="glyphicon glyphicon-filter" aria-hidden="true">&nbsp;</span>Measures</a></li>
                  <li><a href="../monitor/instruments.html"><span class="glyphicon glyphicon-scale" aria-hidden="true">&nbsp;</span>Instruments</a></li>
                  <li><a href="../monitor/features.html"><span class="glyphicon glyphicon-tag" aria-hidden="true">&nbsp;</span>Features</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <!-- span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;Account</span --> Account
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">{{username}}</li>
                  <li role="separator" class="divider"></li>
                  <li><a href="../index.html" ng-click="doClear()"><span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;</span>Disconnect</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section id="content" class="container ng-cloak">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Features <small>({{size}} items)</small></h3>
            <div class="form-group">
              <label for="feature.instrument">Instrument</label>
              <select class="form-control" id="feature.instrument" ng-model="item.instrument" ng-change="setInstrument(item.instrument)" ng-options="i.name for i in instruments track by i.id">
              </select>
            </div>
            <div class="form-group text-center">
              <button type="reset" class="btn" ng-click="doReset()"><strong>Reset</strong></button>
            </div>
            <nav aria-label="..." ng-show="activated">
              <ul class="pager">
                <li ng-disabled="offset - length < 0" class="previous"><a class="btn btn-default" ng-click="doFirst()"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span> </a></li>
                <li ng-disabled="offset - length < 0" class="previous"><a class="btn btn-default" ng-click="doPrev()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li ng-show="size > 0">{{(offset + 1) / length | ceil}} / {{size / length | ceil}}</li>
                <li ng-disabled="offset + length >= size" class="next"><a class="btn btn-default" ng-click="doLast()"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
                <li ng-disabled="offset + length >= size" class="next"><a class="btn btn-default" ng-click="doNext()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
              </ul>
            </nav>
          </div>
          <div class="list-group" ng-repeat="item in items">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">{{item.name}}</h4>
              <p class="list-group-item-text"><em>measure:</em> {{item.measure.name}}</p>
              <p class="list-group-item-text"><em>unit:</em> {{item.measure.unit}}</p>
              <p class="list-group-item-text"><em>factor:</em> 10<sup>{{item.factor}}</sup></p>
              <p class="list-group-item-text"><em>id:</em> #{{item.id}}</p>
              <p class="list-group-item-text text-right"><button class="btn btn-default" ng-click="doSelect(item)">Edit</button></p>
            </li>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form name="form" class="form list-group-item" id="form" ng-show="activated">
          <fieldset>
            <legend ng-show="canCreate()">Edit a feature</legend>
            <legend ng-show="canUpdate()">Edit the feature #{{item.id}}</legend>
            <div class="form-group">
              <label for="feature.name">Name</label>
              <input type="text" class="form-control" id="feature.name" ng-model="item.name" placeholder="Name of the feature" ng-required="true" required>
            </div>
            <div class="form-group">
              <label for="feature.factor">Factor</label>
              <input type="number" min="-16" max="16" step="1" class="form-control" id="feature.factor" ng-model="item.factor" placeholder="Factor of the feature" ng-required="true" required>
            </div>
            <div class="form-group">
              <label for="feature.measure">Measure</label>
              <select class="form-control" id="feature.measure" ng-model="item.measure" ng-change="setMeasure(item.measure)" ng-options="m.name for m in measures track by m.id" ng-required="true" required>
              </select>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group pull-right">
                  <button type="reset" class="btn" ng-click="doClean()"><strong>Cancel</strong></button>
                  <button type="submit" class="btn btn-danger" ng-click="doDelete()" ng-show="canUpdate()" ng-disabled="!form.$valid"><strong>Delete</strong></button>
                  <button type="submit" class="btn btn-default" ng-click="doUpdate()" ng-show="canUpdate()" ng-disabled="!form.$valid"><strong>Update</strong></button>
                  <button type="submit" class="btn btn-default" ng-click="doCreate()" ng-show="canCreate()" ng-disabled="!form.$valid"><strong>Create</strong></button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="alert alert-{{message.type}} alert-dismissible" id="alert" role="alert" style="display:none;margin-top:20px;">
          <button type="button" class="close" aria-label="close" ng-click="doClose()"><span aria-hidden="true">&times;</span></button>
          <p>{{message.content}}</p>
        </div>
      </div>
    </section>
    <footer class="footer navbar-default navbar-fixed-bottom">
      <div class="container">
        <p class="text-center">Copyright © 2015-2017. ICAM. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
