<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emit | Settings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
      html {overflow-y:scroll;position:relative;height:100%;min-height:100%;}
      footer {padding-top:2ex;padding-bottom:1ex;color:white;}
    </style>
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/i18n/angular-locale_fr-fr.js"></script>
  <body ng-app="app" ng-controller="controller">
    <header class="ng-cloak">
      <div class="navbar navbar-inverse navbar-custom navbar-static-top">
        <div class="container">
          <a class="navbar-brand" href="./index.html"><strong>Emit</strong></a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown" ng-show="user.role">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Configuring&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">Logical Layer</li>
                  <li><a href="./clients.html"><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;</span>Clients</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">{{user.name}}</li>
                  <li><a href="./settings.html"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;</span>Settings</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="./user/clear"><span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;</span>Disconnect</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section id="content" class="container ng-cloak">
      <div class="col-md-6 col-md-offset-6">
        <form class="form" name="form" role="form">
          <fieldset>
            <legend>Update your password</legend>
            <div class="form-group">
              <input class="form-control" type="password" ng-model="password.orig" placeholder="Enter your new password" ng-required="true" required>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" ng-model="password.confirm" placeholder="Confirm your new password" class="form-control" ng-required="true" required>
            </div>
            <div class="form-group">
              <div class="pull-right">
                <button type="reset" class="btn btn-default" ng-click="doClean()">Reset</button>
                <button type="submit" class="btn btn-primary" ng-click="doUpdate()" ng-disabled="!form.$valid">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="alert alert-{{message.type}} alert-dismissible" id="alert" role="alert" style="display:none;margin-top:20px;">
          <button type="button" class="close" aria-label="close" ng-click="doDismiss()"><span aria-hidden="true">&times;</span></button>
          <p>{{message.content}}</p>
        </div>
      </div>
    </section>
    <footer class="footer navbar-inverse navbar-fixed-bottom">
      <div class="container">
        <p class="text-center">Copyright © 2015-2017. ICAM. All rights reserved.</p>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
  var app = angular.module('app',[]);

  app.filter('ceil', function() {
	return function(input) {
	  return Math.ceil(input);
	};
  });
  
  app.controller('controller', function ($scope, $http) {

	$scope.user = {};
	$scope.user.name = null;
	$scope.user.role = false;
	  
  	var user = function() {
  		$http({method:'GET',url:'./user/name'})
  		.then(function onSuccess(response) {
  			$scope.user.name = response.data;
  		}, function onError(response) {
  			$scope.user.name = null;
  		});
  		$http({method:'GET',url:'./user/role'})
  		.then(function onSuccess(response) {
  			$scope.user.role = response.data;
  		}, function onError(response) {
  			$scope.user.role = false;
  		});
  	}
  	
  	user();
  	
  	$scope.message = {};
    
    var display = function(type, content) {
        $scope.message.type = type;
        $scope.message.content = content;
        $("#alert").show();
    }
    
    $scope.doDismiss = function() {
        $("#alert").hide();
        $scope.alert = {};
    }
  	
    $scope.password = {};

    $scope.doUpdate = function() {
      if (angular.equals($scope.password.orig, $scope.password.confirm)) {
        update();
      } else {
    	display("warning", "Passwords don't match.");
      }
    }

    var update = function() {
      var content = "password=" + encodeURIComponent($scope.password.orig) + "&confirmPassword=" + encodeURIComponent($scope.password.confirm);
      $http({method:'POST',url:'./user/update',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
        display("success", "Your password has been sucessfully updated.");
        $scope.doClean();
      },function onError(response) {
          display("danger", "Something wrong happened while updating your password.");
          $scope.doClean();
      });
    }
    
    $scope.doClean = function() {
      $scope.password = angular.copy({});
    }
    
  });
  </script>
</html>