<web-app>

	<resource-ref>
		<description>JDBC Resource</description>
		<res-ref-name>jdbc/database</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>

	<context-param>
		<param-name>jdbc-resource</param-name>
		<param-value>jdbc/database</param-value>
	</context-param>

	<listener>
		<listener-class>com.github.jeromerocheteau.JdbcListener
		</listener-class>
	</listener>

	<listener>
		<listener-class>fr.icam.emit.listeners.LaunchListener</listener-class>
	</listener>


	<filter>
		<filter-name>jdbc-filter</filter-name>
		<filter-class>com.github.jeromerocheteau.JdbcFilter</filter-class>
	</filter>

	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.github.jeromerocheteau.JdbcFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<servlet>
		<servlet-name>measurand-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandCreation</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-create.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-create</servlet-name>
		<url-pattern>/measurand/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurand-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-list</servlet-name>
		<url-pattern>/measurand/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurand-delete</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandDelete</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-delete.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-delete</servlet-name>
		<url-pattern>/measurand/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurand-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-update.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-update</servlet-name>
		<url-pattern>/measurand/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurand-size</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandSize</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-size.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-size</servlet-name>
		<url-pattern>/measurand/size</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurand-page</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurandPage</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurand-page.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurand-page</servlet-name>
		<url-pattern>/measurand/page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>experiment-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ExperimentCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/experiment-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>experiment-create</servlet-name>
		<url-pattern>/experiment/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>experiment-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ExperimentList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/experiment-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>experiment-list</servlet-name>
		<url-pattern>/experiment/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>experiment-last</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ExperimentLast</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/experiment-last.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>experiment-last</servlet-name>
		<url-pattern>/experiment/last</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurement-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurement-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurement-list</servlet-name>
		<url-pattern>/measurement/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurement-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurement-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurement-create</servlet-name>
		<url-pattern>/measurement/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measure-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasureList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measure-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measure-list</servlet-name>
		<url-pattern>/measure/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measure-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasureCreation</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measure-create.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measure-create</servlet-name>
		<url-pattern>/measure/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measure-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasureUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measure-update.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measure-update</servlet-name>
		<url-pattern>/measure/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>measure-size</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasureSize</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measure-size.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measure-size</servlet-name>
		<url-pattern>/measure/size</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measure-page</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurePage</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measure-page.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measure-page</servlet-name>
		<url-pattern>/measure/page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-list</servlet-name>
		<url-pattern>/instrument/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-create</servlet-name>
		<url-pattern>/instrument/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-delete</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentDelete</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-delete.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-delete</servlet-name>
		<url-pattern>/instrument/delete</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>feature-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.FeatureList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/feature-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>feature-list</servlet-name>
		<url-pattern>/feature/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>feature-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.FeatureCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/feature-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>feature-create</servlet-name>
		<url-pattern>/feature/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>feature-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.FeatureUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/feature-update.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>feature-update</servlet-name>
		<url-pattern>/feature/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>feature-delete</servlet-name>
		<servlet-class>fr.icam.emit.servlets.FeatureDelete</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/feature-delete.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>feature-delete</servlet-name>
		<url-pattern>/feature/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-update.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-update</servlet-name>
		<url-pattern>/instrument/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-size</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentSize</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-size.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-size</servlet-name>
		<url-pattern>/instrument/size</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>instrument-page</servlet-name>
		<servlet-class>fr.icam.emit.servlets.InstrumentPage</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/instrument-page.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>instrument-page</servlet-name>
		<url-pattern>/instrument/page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentList</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-list.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-list</servlet-name>
		<url-pattern>/environment/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-create</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-create</servlet-name>
		<url-pattern>/environment/create</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-delete</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentDelete</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-delete.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-delete</servlet-name>
		<url-pattern>/environment/delete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-update.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-update</servlet-name>
		<url-pattern>/environment/update</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-size</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentSize</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-size.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-size</servlet-name>
		<url-pattern>/environment/size</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>environment-page</servlet-name>
		<servlet-class>fr.icam.emit.servlets.EnvironmentPage</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/environment-page.sql</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>environment-page</servlet-name>
		<url-pattern>/environment/page</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurementSet-list</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementSetList
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurementSet-list.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurementSet-list</servlet-name>
		<url-pattern>/measurementSet/list</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>measurementSet-creation</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementSetCreation
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurementSet-create.sql
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>measurementSet-creation</servlet-name>
		<url-pattern>/measurementSet/create</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>measurementSet-unprocessed</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementSetUnprocessed
		</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurementSet-unprocessed.sql
			</param-value>
		</init-param>
	</servlet>
	
	<servlet>
		<servlet-name>measurementSet-launch</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementSetLaunch</servlet-class>		
	</servlet>
	<servlet-mapping>
		<servlet-name>measurementSet-launch</servlet-name>
		<url-pattern>/measurementSet/launch</url-pattern>
	</servlet-mapping>
	

	<servlet>
		<servlet-name>experiment-unprocessed</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ExperimentUnprocessed</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/experiment-unprocessed.sql
			</param-value>
		</init-param>
	</servlet>	
	<servlet-mapping>
		<servlet-name>measurementSet-unprocessed</servlet-name>
		<url-pattern>/measurementSet/unprocessed</url-pattern>
	</servlet-mapping>
	
	
	
	
	<servlet>
		<servlet-name>experiment-launch</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ExperimentLaunch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>experiment-launch</servlet-name>
		<url-pattern>/experiment/launch</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>test-fichier</servlet-name>
		<servlet-class>fr.icam.emit.servlets.ImportExperiment</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>test-fichier</servlet-name>
		<url-pattern>/test/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>test-enregistrement</servlet-name>
		<servlet-class>fr.icam.emit.servlets.TestEnregistrement</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>test-enregistrement</servlet-name>
		<url-pattern>/test/enregistre</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>measurementSet-update</servlet-name>
		<servlet-class>fr.icam.emit.servlets.MeasurementSetUpdate</servlet-class>
		<init-param>
			<param-name>sql-query</param-name>
			<param-value>/fr/icam/emit/queries/measurementSet-update.sql
			</param-value>
		</init-param>
	</servlet>
		
	<servlet-mapping>
		<servlet-name>measurementSet-update</servlet-name>
		<url-pattern>/test/update</url-pattern>
	</servlet-mapping>	
	
	
	

</web-app>
