<web-app>

  <resource-ref>
    <description>JDBC Resource</description>
    <res-ref-name>jdbc/database</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>jdbc-resource</param-name>
    <param-value>jdbc/database</param-value>
  </context-param>

  <listener>
    <listener-class>com.github.servlet.jdbc.JdbcListener</listener-class>
  </listener>
  
  
  <servlet>
    <servlet-name>measurand-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurandCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurand-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurand-create</servlet-name>
    <url-pattern>/measurand/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurand-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurandList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurand-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurand-list</servlet-name>
    <url-pattern>/measurand/list</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>measurand-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurandDelete</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurand-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurand-delete</servlet-name>
    <url-pattern>/measurand/delete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>measurand-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurandUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurand-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurand-update</servlet-name>
    <url-pattern>/measurand/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>experiment-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ExperimentCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/experiment-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>experiment-create</servlet-name>
    <url-pattern>/experiment/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>experiment-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ExperimentList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/experiment-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>experiment-list</servlet-name>
    <url-pattern>/experiment/list</url-pattern>
  </servlet-mapping>  
  
  
	<servlet>
    <servlet-name>measurement-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-list</servlet-name>
    <url-pattern>/measurement/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurement-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementCreattion</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-create</servlet-name>
    <url-pattern>/measurement/create</url-pattern>
  </servlet-mapping>
	
	<servlet>
    <servlet-name>measure-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-list</servlet-name>
    <url-pattern>/measure/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measure-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-create</servlet-name>
    <url-pattern>/measure/create</url-pattern>
  </servlet-mapping>  
  
  <servlet>
    <servlet-name>measure-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-update</servlet-name>
    <url-pattern>/measure/update</url-pattern>
  </servlet-mapping>  
	
	<servlet>
    <servlet-name>observer-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserverList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observer-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observer-list</servlet-name>
    <url-pattern>/observer/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>observer-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserverCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observer-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observer-create</servlet-name>
    <url-pattern>/observer/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>observer-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserverDelete</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observer-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observer-delete</servlet-name>
    <url-pattern>/observer/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>observer-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserverUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observer-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observer-update</servlet-name>
    <url-pattern>/observer/update</url-pattern>
  </servlet-mapping>
	
  <servlet>
    <servlet-name>observee-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserveeList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observee-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observee-list</servlet-name>
    <url-pattern>/observee/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>observee-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserveeCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observee-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observee-create</servlet-name>
    <url-pattern>/observee/create</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>observee-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserveeDelete</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observee-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observee-delete</servlet-name>
    <url-pattern>/observee/delete</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>observee-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.ObserveeUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/observee-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>observee-update</servlet-name>
    <url-pattern>/observee/update</url-pattern>
  </servlet-mapping>
    
  <servlet>
    <servlet-name>measurementSet-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementSetList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurementSet-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurementSet-list</servlet-name>
    <url-pattern>/measurementSet/list</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurementSet-creation</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementSetCreation</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurementSet-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurementSet-creation</servlet-name>
    <url-pattern>/measurementSet/create</url-pattern>
  </servlet-mapping>

</web-app>