
body {
  background-color: rgba(160,160,160,0.33);
}

#titre_appli{
	color:#595959;
}

#menu{
	width:1000px;
	margin:0 auto;
	height:20px;
	padding:5px 30px;
	margin-bottom:5px;
}

#menu li.primaire {
	color: #595959;
	float:left;
	display:block;
	
	text-align:center;
	padding:4px 10px;
	margin:3px 2px 0 0;
	}
	
#menu li.primaire a.primaire{	
	font-size:19px;
	color:#595959;
	display:block;
	id = "select-line";
	text-decoration:none
}
	
#menu li.primaire:hover{
	border-bottom: 5px solid rgb(202, 224, 255);
	padding:4px 10px;	
}

#footer {
	background-color: #f8f8f8;
	position:absolute; 
	bottom:0px; 
	height:50px; 
	left:0px; 
	right:0px; 
	overflow:hidden;
}


#wrapper {
  width: 100%;
}

@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 60px 0 0 300px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}

#navigation_barre{
	background-color: #f8f8f8;
	color:#000000;
	width: 100%;
	margin: 0 0;
	top:0;
}

div.sidebar-nav.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 300px;
    margin-top: 0px;
  }
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

legend {
    border-bottom: 1px solid;
    border-bottom-color:#000000
}

canvas {
	background-color: #f8f8f8;
	padding:5px 5px 5px 5px;
}
#content{
	position:absolute;
	top:55px; 
	bottom:55px; 
	left:0px; 
	right:0px; 
	overflow:auto;
}

#index{
	position:absolute;
	top:55px; 
	bottom:55px; 
	left:0px; 
	right:0px; 
	overflow:auto;
	margin:0;
}

#search{
	padding-top:50px;
}

.scrollLites{
	height:140px; 
	overflow-y:scroll;
	background-color: rgb(255, 255, 255);
	margin-bottom:20px;
	
}

.scrollLites li{
	cursor:pointer;
}

.scrollLites li a{
	padding:2px 1px 1px 2px;
}

.scrollLites li a.active{
	padding:2px 1px 1px 2px;
}


.active1 {
	background-color:#c5c5c5;
	font-weight: bold;
}
.active2 {
	background-color:#c5c5c5;
	font-weight: bold;
}
.active3 {
	background-color:#c5c5c5;
	font-weight: bold;
}
.active4 {
	background-color:#c5c5c5;
	font-weight: bold;
}