<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link href="css/sb-admin-2.css" rel="stylesheet">
</head>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('app', []);
	var old_name;
	var old_url;

	app.filter('ceil', function() {
		return function(input) {
			return Math.ceil(input);
		};
	});

	app
			.controller(
					'controller',
					function($scope, $http) {

						var empty = {};

						$scope.selected = false;
						$scope.creating = false;
						$scope.updating = false;

						$scope.alert = {};
						$scope.analysis = {};
						$scope.analyses = [];
						$scope.size = 0;
						$scope.offset = 0;
						$scope.length = 5;

						var init = function() {
							$scope.selected = false;
							$scope.creating = false;
							$scope.updating = false;
							$scope.analysis = angular.copy(empty);
						}
						$scope.clean = function() {
							init();
						}
						$scope.select = function(analysis) {
							if (analysis) {
								$scope.creating = false;
								$scope.updating = true;
								$scope.analysis = analysis;
								old_name = analysis.name;
								old_url = analysis.url;
								$scope.old_url = old_url;
							} else {
								$scope.creating = true;
								$scope.updating = false;
							}
							$scope.selected = true;
						}
						$scope.create = function() {

							var indata = {
								url : $scope.analysis.url,
								name : $scope.analysis.name
							};
							$http
									.post(
											"http://172.21.50.3:8080/emit/analysis/create",
											indata)
									.then(
											function(success) {
												alert("Analysis created");
												init();
												$scope.size = 0;
												$scope.offset = 0;
												size();
												page();
											},
											function(error) {
												alert("An error occured during creation of the Analysis.");
											});
						}
						$scope.update = function() {
							var indata = [ {
								name : old_name,
								url : old_url
							}, {
								name : $scope.analysis.name,
								url : $scope.analysis.url
							} ];

							$http
									.post(
											"http://172.21.50.3:8080/emit/analysis/update",
											indata)
									.then(
											function(success) {
												alert("Analysis updated");
											},
											function(error) {
												alert("An error occured during updating of the Analysis.");
											});
							$scope.clean();
						}

						$scope.remove = function(analysis) {
							$scope.analysis = analysis;
							$('#modal').modal('show');
						}

						$scope.erase = function() {
							$('#modal').modal('hide');
							var can_delete = true;
							var url = $scope.analysis.url;
							var data = {
								url : url
							};
							$http
								.post(
										"http://172.21.50.3:8080/emit/analysis/delete",
										data)
								.then(
										function(success) {
											alert("Analysis deleted");
											init();
											$scope.size = 0;
											$scope.offset = 0;
											size();
											page();
										},
										function(error) {
											alert("An error occured during deleting of the Analysis.");
										});
						}

						var size = function() {
							$http
								.get(
										"http://172.21.50.3:8080/emit/analysis/size")
								.then(function(success) {
									$scope.size = success.data;
								}, function(error) {
									$scope.size = 0;
								});
						}
						var page = function() {
							$http
									.get(
											"http://172.21.50.3:8080/emit/analysis/page",
											{
												"params" : {
													"offset" : $scope.offset
												}
											}).then(function(success) {
										$scope.analyses = success.data;
									}, function(error) {
										$scope.analyses = [];
									});
						}
						$scope.prev = function() {
							if ($scope.length <= $scope.offset) {
								$scope.offset = $scope.offset - $scope.length;
								page();
							}
						}
						$scope.next = function() {
							if ($scope.offset + $scope.length < $scope.size) {
								$scope.offset = $scope.offset + $scope.length;
								page();
							}
						}
						$scope.first = function() {
							$scope.offset = 0;
							page();
						}
						$scope.last = function() {
							$scope.offset = Math.floor(($scope.size - 1)
									/ $scope.length)
									* $scope.length;
							page();
						}

						init();
						size();
						page();

					});
</script>
<body ng-app="app" ng-controller="controller">
	<header>
		<div class="navbar navbar-default navbar-custom navbar-static-top"
			id="navigation_barre">
			<div class="container">
				<a href="./index.html" class="navbar-brand" id="titre_appli">EMIT</a>
				<ul id="menu">
					<li class="active primaire"><a href="./index.html"
						class="primaire"><span class="glyphicon glyphicon-home">&ensp;</span>
							Home</a></li>

					<li class="dropdown primaire"><a href="#"
						class="dropdown-toggle primaire" data-toggle="dropdown"
						role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-pushpin">&ensp;</span> Elements<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="./Instrument.html">Instruments</a></li>
							<li><a href="./Environment.html">Environments</a></li>
							<li><a href="./Measurand.html">Measurands</a></li>
							<li><a href="./Measure.html">Measures</a></li>
							<li><a href="./Analysis.html">Analyses</a></li>
						</ul></li>
					<li class="active primaire"><a href="./CreateExperiment.html"
						class="primaire"><span class="glyphicon glyphicon-plus">&ensp;</span>Add
							experiment</a></li>
					<li class="active primaire"><a href="./CreateAnalysis.html"
						class="primaire"><span class="glyphicon glyphicon-tasks">&ensp;</span>
							Plan analysis</a></li>
					<li class="active primaire"><a href="./test.html"
						class="primaire"><span class="glyphicon glyphicon-dashboard">&ensp;</span>
							Test</a></li>
				</ul>


			</div>
		</div>
	</header>


	<div id="content" class="container">
		<section id="search" class="col-md-4">
			<form class="form" name="form" ng-if="selected">
				<fieldset>
					<legend ng-if="creating">Creation of a new Analysis</legend>
					<legend ng-if="updating">Updating a Analysis
						{{old.name}}</legend>
					<div class="form-group">
						<label for="analysis.url">URL of the Analysis</label> <input
							type="text" id="analysis.url" class="form-control"
							ng-model="analysis.url" placeholder="URL" required
							ng-required="true" />
					</div>
					<div class="form-group">
						<label for="analysis.name">Name</label> <input type="text"
							id="analysis.name" class="form-control"
							ng-model="analysis.name" placeholder="Name" ng-required="true" />
					</div>
					<div class="form-group pull-right">
						<button type="reset" class="btn btn-default" ng-click="clean()">
							<strong>Cancel</strong>
						</button>
						<button type="submit" class="btn"
							ng-click="form.$valid && update()" ng-disabled="form.$invalid"
							ng-if="updating">
							<strong>Modify</strong>
						</button>
						<button type="submit" class="btn"
							ng-click="form.$valid && create()" ng-disabled="form.$invalid"
							ng-if="creating">
							<strong>Add</strong>
						</button>
					</div>
				</fieldset>
			</form>
		</section>
		<section id="results" class="col-md-8">
			<h2>
				Analyses <small>({{size}} elements)</small>
			</h2>
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous"><a class="btn btn-default"
						ng-click="first()"><span aria-hidden="true"
							class="glyphicon glyphicon-step-backward"></span> </a></li>
					<li class="previous"><a class="btn btn-default"
						ng-click="prev()"><span aria-hidden="true"
							class="glyphicon glyphicon-chevron-left"></span></a></li>
					<li ng-if="size > 0">{{(offset / length) + 1 | ceil}} / {{size
						/ length | ceil}}</li>
					<li class="next"><a class="btn btn-default" ng-click="last()"><span
							aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
					<li class="next"><a class="btn btn-default" ng-click="next()"><span
							aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
				</ul>
			</nav>
			<ul class="list-group" ng-repeat="analysis in analyses">
				<li class="list-group-item">
					<p class="list-group-item-heading">{{analysis.name}}</p>
					<p class="list-group-item-text">
						<span ng-if="analysis.url">{{analysis.url}} </span>
					</p>
					<p class="list-group-item-text text-right">
						<button type="button" class="btn btn-default"
							ng-click="remove(analysis)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<span>&nbsp;</span>
						<button type="button" class="btn btn-default"
							ng-click="select(analysis)">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</p>
				</li>
			</ul>
			<div class="pull-right">
				<button type="button" class="btn btn-info pull-right"
					ng-click="select()">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</div>
		</section>
	</div>
	<div id="modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Deleting an Analysis</h4>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete : {{analysis.name}}&nbsp;?</p>
					<p>URL&nbsp;: {{analysis.url}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn" ng-click="erase()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<br> <span class="text-left">Copyright © 2015-2017.
						ICAM. Tous droits réservés.</span>
				</div>
				<div class="col-md-4">
					<a
						href="https://www.icam.fr/icam/les-campus-icam/icam-site-de-nantes"
						target="_blank"><img class="center-block" src="./png/icam.png"
						height="45" alt="Icam" /></a>
				</div>
				<div class="col-md-4">
					<div class="text-right">
						<br> <a href="https://www.facebook.com/icam.nantes"
							target="_blank"><i
							class="fa fa-facebook-square fa-2x text-muted"></i></a> <span>&emsp;</span>
						<a href="https://twitter.com/icam_fr" target="_blank"><i
							class="fa fa-twitter fa-2x text-muted"></i></a> <span>&emsp;</span> <a
							href="https://plus.google.com/118426909654384683619/about"
							target="_blank"><i class="fa fa-google-plus fa-2x text-muted"></i></a>
						<span>&emsp;</span> <a
							href="https://www.linkedin.com/company/icam-institut-catholique-d%27arts-et-metiers"
							target="_blank"><i class="fa fa-linkedin fa-2x text-muted"></i></a>
						<span>&emsp;</span> <a
							href="https://www.youtube.com/channel/UCQbkQwnly-uMpHTdudW8ocw"
							target="_blank"><i class="fa fa-youtube fa-2x text-muted"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>