<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript">
var app = angular.module('app',['ngSanitize','ngCookies','angular-md5']);

app.filter('ceil', function() {
    return function(input) {
        return Math.ceil(input);
    };
});

app.controller('controller', function ($scope, $http, $window, $cookieStore, md5) {

	/*$scope.passphrase = $cookieStore.get('passphrase');
  	$scope.logout = function() {
  		var message = "passphrase=" + $scope.passphrase; 
  		$http({method:'POST',url:'/users/revoke',data:message,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
	  	.success(function(response) {	  		  	  		
  	  	}).error(function(response) {
  	  	});
		$cookieStore.remove('passphrase');
		$scope.passphrase = null;
  	}
  	$scope.profile = null;
  	var profile = function() {
  		if ($scope.passphrase) {
  	  		var message = "passphrase=" + $scope.passphrase; 
  	  		$http({method:'POST',url:'/users/profile',data:message,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
  		  	.success(function(response) {
  		  	  	$scope.profile = response;
  		  	  	$scope.firstname = $scope.profile.firstname;
  		  		$scope.lastname = $scope.profile.lastname;
  	  	  	}).error(function(response) {
  	  	    	$scope.profile = null;  	  		
  	  	  	});  			
  		}
  	}

	$scope.alert = {};
	$scope.setAlert = function(type,message) {
		$scope.alert.type = type;
		$scope.alert.message = message;
		$('#alert').modal('show');
	}*/
  	
  	
	$scope.uri = null;
	$scope.name = null;
	$scope.create = function() {
		if ($scope.name === null) {
			$scope.setAlert("Error","The field 'name' is empty");
			$scope.setAlert("Error","Ca passe");			
		} else {
			var indata = {uri :$scope.uri,name:$scope.name  };
			$http.post("http://172.21.1.18/emit/observer/create",indata).then(	
			.success(function(response) {
				$scope.setAlert("Error","Ca passe aussi");
		  		$scope.setAlert("Info","Observer created");
		  		$window.open("./CreateObserver.html","_self");
	  	  	}).error(function(response) {
	  	  		$scope.setAlert("Error","Ca passe encore");
	  	  		$scope.setAlert("Error","A problem occured");
	  	  	});
			$scope.setAlert("Error","Ca clear");
			$scope.clear();
		}
  	}
	$scope.clear = function() {
		$scope.setAlert("Error","Ca efface");
		$scope.uri = null;
		$scope.name = null;
	}
	
	/*profile();*/
});

</script>

<body ng-app="app" ng-controller="myCtrl">
	<header>
		<div class="navbar navbar-default navbar-custom navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
						aria-expanded="false">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="./index.html">EMIT</a>
				</div>
				<div class="collapse navbar-collapse"></div>
			</div>
		</div>
	</header>
	<section id="content" class="container">
		<div class="col-md-3"></div>
		<div class="col-md-6 list-group-item">
			<form name="form" class="form">
				<fieldset ng-disabled="passphrase">
					<legend>Creation of an observer</legend>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="uri"
							placeholder="Observer Id" ng-required="true" required>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" ng-model="name"
							placeholder="Name" ng-required="true" required>
					</div>
					<div class="pull-right">
						<button type="reset" ng-click="clear()" class="btn btn-default">
							<span class="glyphicon glyphicon-erase">&ensp;</span> Annuler
						</button>
						<button type="submit" ng-click="create()"
							ng-disabled="!form.$valid" class="btn btn">
							<span class="glyphicon glyphicon-send">&ensp;</span> Envoyer
						</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-3"></div>
	</section>

	<footer class="footer"> </footer>
</body>
</html>