<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./css/font-awesome.min.css">
<link href="css/sb-admin-2.css" rel="stylesheet">
</head>

<script type="text/javascript" src="DJS/Chart.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="DJS/moment.min.js"></script>
<script type="text/javascript" src="DJS/moment.fr.js"></script>
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.3/angular.min.js"></script>
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.3/angular-cookies.min.js"></script>
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.3/angular-sanitize.min.js"></script>
<script type="text/javascript"
	src="https://code.angularjs.org/1.6.3/i18n/angular-locale_fr-fr.js"></script>
<script type="text/javascript" src="DJS/angular-chart.min.js"></script>

<script type="text/javascript" src="DJS/sb-admin-2.js"></script>

<script type="text/javascript">
	var app = angular.module('app', [ 'ngSanitize', 'ngCookies' ]);
	var tree = [];

	app.controller('myCtrl', function($scope, $http, $q, $cookieStore) {

		$scope.env_filter = {
			availableOptions: [
				{uri: '#NONE#', name: '-- ALL --'}
           	],
            selectedOption: {}
        };
		$scope.env_filter.selectedOption = $scope.env_filter.availableOptions[0];
		
		$scope.analyses = {
			availableOptions: [],
            selectedOption: {}
       	};

		$scope.features = {
				availableOptions: [],
	            selectedOption: {}
	       	};
		
		$scope.environments = {
				availableOptions: [],
	            selectedOption: {}
	       	};
		
		$scope.measurands = {
				availableOptions: [],
	            selectedOption: {}
	       	};
		
		console.log($scope.analyses);
		
		var clicked_measurand = "";
		
		$scope.passphrase = $cookieStore.get('passphrase');
		$scope.logout = function() {
			$http.post(
					"http://172.21.50.3:8080/emit-users/revoke?passphrase="
							+ $scope.passphrase).then(function(success) {
			}, function(error) {
			});
			$cookieStore.remove('passphrase');
			$scope.passphrase = null;
			$window.open("http://172.21.50.3:8080/emit-home/index.html","_self");
		}
		$scope.profile = null;
		var profile = function() {
			if ($scope.passphrase) {
				$http.post(
						"http://172.21.50.3:8080/emit-users/profile?passphrase="
								+ $scope.passphrase).then(function(success) {
					$scope.profile = success.data;
				}, function(error) {
					$scope.profile = null;
				});
			}
		}

		$scope.retrive_instrument_name = function(uri) {
			var name = "";
			angular.forEach($scope.instrumentlist, function(value) {
				if (uri == value.uri) {
					name = value.name;
				}
			});
			return name;
		}

		$scope.fill_measurement = function(key) {
			//console.log(key);
			$scope.measurementlist = [];
			$http.get("http://172.21.50.3:8080/emit/measurement/list", {
				"params" : {
					"fkey" : key
				}
			}).then(function(success) {
				$scope.measurementlist = success.data;
				$(function() {
					var ins = $("#selector4 li a").on("click", function(e) {
						ins.not(this).removeClass('active4')
						$(this).addClass("active4");
					});
				});
				//console.log(angular.toJson(success.data));
				//console.log(angular.toJson($scope.measurementlist));
			}, function(error) {
				$scope.measurementlist = [];
			});
		}

		$scope.fill_measurementset = function(key) {
			var i = 0;

			$scope.measurementlist = [];
			$scope.measurementsetlist = [];
			//console.log("je suis bien actif");
			//console.log(key);
			$http.get("http://172.21.50.3:8080/emit/measurementSet/list", {
				"params" : {
					"fkey" : key
				}
			}).then(
					function(success) {
						var measurementset = success.data;
						angular.forEach(measurementset, function(value) {
							$scope.measurementsetlist[i] = value;
							$scope.measurementsetlist[i].name = $scope
									.retrive_instrument_name(value.instrument);
							i++;
						});
						$(function() {
							var ins = $("#selector3 li a").on("click",
									function(e) {
										ins.not(this).removeClass('active3')
										$(this).addClass("active3");
									});
						});
						//console.log(angular.toJson($scope.measurementsetlist));
						//console.log(success.data);
					}, function(error) {
						$scope.measurementsetlist = [];

					});
		}

		$scope.refill_experiment = function(){
			if (clicked_measurand != ""){
				$scope.fill_experiment(clicked_measurand);
			}
		}
		
		$scope.fill_experiment = function(key) {
			
			clicked_measurand = key;  
			
			$scope.measurementsetlist = [];
			$scope.measurementlist = [];
			$http.get("http://172.21.50.3:8080/emit/experiment/list", {
				"params" : {
					"fkey" : key
				}
			}).then(
					function(success) {
						$scope.experimentlist = success.data;
						if ($scope.env_filter.selectedOption.uri != "#NONE#") {
							var to_delete = [];
							angular.forEach($scope.experimentlist, function(value, key) {
								/*Les index des expériences n'ayant le même environnement que celui choisi sont mis dans une liste*/
								if (value.environment != $scope.env_filter.selectedOption.uri){
									//console.log(value.environment != $scope.env_filter.selectedOption.uri);
									to_delete.push(key);
								} 
							});
							/*On inverse la liste d'index à supprimer (parcourir les index dans l'ordre décroissant)*/
							to_delete.reverse();
							/*Suppression des valeurs dans la liste d'expériment*/
							angular.forEach(to_delete, function(value, key) {
								$scope.experimentlist.splice(value,1);
							});
						}
						$(function() {
							var ins = $("#selector2 li a").on("click",
									function(e) {
										ins.not(this).removeClass('active2')
										$(this).addClass("active2");
									});
						});
					}, function(error) {
						$scope.environments = [];
					});
		}

		$scope.refresh = function() {
			// déclaration des promesses (voir promises)
			var experiment = $http
					.get("http://172.21.50.3:8080/emit/experiment/list");
			var instrument = $http
					.get("http://172.21.50.3:8080/emit/instrument/list");
			var environment = $http
					.get("http://172.21.50.3:8080/emit/environment/list");
			var measure = $http
					.get("http://172.21.50.3:8080/emit/measure/list");
			var measurement = $http
					.get("http://172.21.50.3:8080/emit/measurement/list");
			var measurand = $http
					.get("http://172.21.50.3:8080/emit/measurand/list");
			var measurementset = $http
					.get("http://172.21.50.3:8080/emit/measurementSet/list");
			var analysis = $http
					.get("http://172.21.50.3:8080/emit/analysis/list");
			var feature = $http
					.get("http://172.21.50.3:8080/emit/feature/list");

			// attente de la réalisation de toutes les promesses
			$q.all(
					[ experiment, instrument, environment, measure,
							measurement, measurand, measurementset, analysis,
							feature ]).then(
					function(values) {
						//console.log(angular.toJson(values[0].data))
						$scope.experimentlist = values[0].data;
						$scope.instrumentlist = values[1].data;
						$scope.environmentlist = values[2].data;
						//console.log($scope.env_filter);
						angular.forEach(values[2].data, function(value, key) {
							$scope.env_filter.availableOptions.push(value);
							$scope.environments.availableOptions.push(value);
						});
						//console.log($scope.env_filter);
						$scope.measurelist = values[3].data;
						$scope.measurementlist = values[4].data;
						$scope.measurandlist = values[5].data;
						angular.forEach(values[5].data, function(value, key) {
							$scope.measurands.availableOptions.push(value);
						});
						$scope.measurementsetlist = values[6].data;
						angular.forEach(values[7].data, function(value, key) {
							$scope.analyses.availableOptions.push(value);
						});
						console.log($scope.analyses);
						$scope.featurelist = values[8].data;
						angular.forEach(values[8].data, function(value, key) {
							$scope.features.availableOptions.push(value);
						});
						//réalisation des opérations souaitées
						$(function() {
							var ins = $("#selector1 li a").on("click",
									function(e) {
										ins.not(this).removeClass('active1')
										$(this).addClass("active1");
									});
						});
					});

		}

		$scope.fill_input = function(measurement) {
			$scope.measurement = measurement;
		}
		
		$scope.create_simple = function() {
			console.log($scope.analyses.selectedOption);
			angular.forEach($scope.analyses.selectedOption, function(value, key) {
				var result_data = {
					context : $scope.measurement.id,
					measure : $scope.measurement.measure,
					analysis : value.url,
					condition : "this is a test"
				};
				console.log(result_data);
				$http.post("http://172.21.50.3:8080/analysis/algorithm/SimpleResultCreate",
						result_data).then(function(success) {
					//console.log("c'est créé !");
				}, function(error) {
					//console.log("oooooops !");
				});
			});
		};
		
		$scope.create_complex = function() {
			angular.forEach($scope.analyses.selectedOption, function(value, key) {
				var result_data = {
					measure : $scope.features.selectedOption.measure,
					analysis : value.url,
					measurand : $scope.measurands.selectedOption.process,
					environment : $scope.environments.selectedOption.uri,
					features : $scope.features.selectedOption.id,
					condition : "this is another test"
				};
				console.log(result_data);
				$http.post("http://172.21.50.3:8080/analysis/algorithm/ComplexeResultCreate",
						result_data).then(function(success) {
					//console.log("c'est créé !");
				}, function(error) {
					//console.log("oooooops !");
				});
			});
		};

		profile();
		$scope.refresh();

	});
</script>
<body ng-app="app" ng-controller="myCtrl">
	<header>
		<div class="navbar navbar-default navbar-custom navbar-static-top"
			id="navigation_barre">
			<div class="container">
				<a href="./home.html" class="navbar-brand" id="titre_appli">EMIT</a>
				<ul id="menu">
					<li class="active primaire"><a href="./home.html"
						class="primaire"><span class="glyphicon glyphicon-home">&ensp;</span>
							Home</a></li>

					<li class="dropdown primaire"><a href="#"
						class="dropdown-toggle primaire" data-toggle="dropdown"
						role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-pushpin">&ensp;</span> Elements<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="./Instrument.html">Instruments</a></li>
							<li><a href="./Environment.html">Environments</a></li>
							<li><a href="./Measurand.html">Measurands</a></li>
							<li><a href="./Measure.html">Measures</a></li>
							<li><a href="./Analysis.html">Analyses</a></li>
						</ul></li>
					<li class="active primaire"><a href="./CreateExperiment.html"
						class="primaire"><span class="glyphicon glyphicon-plus">&ensp;</span>Add
							experiment</a></li>
					<li class="active primaire"><a href="./CreateAnalysis.html"
						class="primaire"><span class="glyphicon glyphicon-tasks">&ensp;</span>
							Plan analysis</a></li>
					<li class="dropdown primaire"><a href="#"
						class="dropdown-toggle primaire" data-toggle="dropdown"
						role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-user">&ensp;</span> User<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header" ng-if="profile">{{profile.firstname}}
								{{profile.lastname}}</li>
							<li ng-if="passphrase"><a href="./settings.html""><span
									class="glyphicon glyphicon-cog">&ensp;</span> Parameters</a></li>
							<li ng-if="passphrase"><a href="./index.html"
								ng-click="logout()"><span
									class="glyphicon glyphicon-log-out">&ensp;</span> Log out</a></li>
							<li ng-if="!passphrase"><a href="./index.html"><span
									class="glyphicon glyphicon-log-in">&ensp;</span> Log in</a></li>
							<li ng-if="!passphrase"><a href="./sign-up.html"><span
									class="glyphicon glyphicon-edit">&ensp;</span> Register</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</header>
	<div id="content" class="container"
		ng-if="!passphrase || (passphrase && profile.type == 'account')">
		<div class="col-md-3"></div>
		<div class="alert alert-danger" role="alert" ng-if="!passphrase">
			<strong>No Access !</strong> You have to <a href="./sign-in.html">log
				in</a> before visualize this page.
		</div>
		<div class="alert alert-danger" role="alert"
			ng-if="passphrase && profile.type == 'account'">
			<strong>Not Allowed !</strong> You are not allowed to see this page.
		</div>
		<div class="col-md-3"></div>
	</div>
	<div id="content" class="index" ng-if="passphrase && profile.type == 'manager'">
		<div class="col-md-12">
			<ul class="nav nav-tabs nav-stacked" role="tablist">
				<li role="presentation" class="active"><a
					href="#simple_analysis" aria-controls="simple_analysis" role="tab"
					data-toggle="tab">Plan a simple analysis</a></li>
				<li role="presentation" class=""><a href="#complex_analysis"
					aria-controls="complex_analysis" role="tab" data-toggle="tab">Plan
						a complex analysis</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane active" id="simple_analysis">
				<section class="col-md-2">
					<div class="form-group">
						<legend>Select a measurement : </legend>
						<div class="sidebar-nav navbar-collapse">
							<label>Environment</label> <select
								class="form-control selectpicker"
								ng-options="environment.name for environment in env_filter.availableOptions"
								ng-model="env_filter.selectedOption" title="Environment"
								ng-change = "refill_experiment()"
								ng-required="true" required>
							</select> <b>Measurand selection :</b>
							<ul class="nav scrollLites" id="selector1">
								<li ng-repeat="x in measurandlist"><a
									ng-click="fill_experiment(x.process)">{{x.name}}</a></li>
							</ul>
							<b>Experiment selection :</b>
							<ul class="nav scrollLites" id="selector2">
								<li ng-repeat="x in experimentlist"><a
									ng-click="fill_measurementset(x.id)">{{x.started |
										date:"MM/dd/yyyy 'at' h:mma"}}</a></li>
							</ul>
							<b>Measurementset selection :</b>
							<ul class="nav scrollLites" id="selector3">
								<li ng-repeat="x in measurementsetlist"><a
									ng-click="fill_measurement(x.id)">{{x.name}}</a></li>
							</ul>
							<b>Measurement selection :</b>
							<ul class="nav scrollLites" id="selector4">
								<li ng-repeat="x in measurementlist"><a
									ng-click="fill_input(x)">{{x.measure}}</a></li>
							</ul>
						</div>
					</div>
				</section>
				<section class="col-md-10">
					<form class="form" name="form">
						<fieldset>
							<legend>Plan an analysis</legend>
							<div class="form-group">
								<label for="measurement.data">Name</label> <input type="text"
									id="measurement.data" class="form-control"
									ng-model="measurement.data"
									placeholder="Select a measurement in the tree"
									ng-required="true" disabled />
							</div>
							<div class="form-group">
								<label>Analysis</label> <select size="8"
									class="form-control selectpicker"
									ng-options="one_analysis.name for one_analysis in analyses.availableOptions"
									ng-model="analyses.selectedOption" title="Analysis"
									ng-required="true" required multiple>
								</select>
							</div>
							<div class=" form-group pull-right">
								<button type="reset" ng-click="clear()" class="btn btn-default">
									<span class="glyphicon glyphicon-erase">&ensp;</span> <strong>Cancel</strong>
								</button>
								<button type="submit" class="btn"
									ng-click="create_simple()">
									<strong>Send</strong>
								</button>
							</div>
						</fieldset>
					</form>
				</section>
			</div>
			<div role="tabpanel" class="tab-pane" id="complex_analysis">
				<section class="col-md-2"></section>
				<section class="col-md-10">
					<form class="form" name="form">
						<fieldset>
							<legend>Plan an analysis</legend>
							<div class="form-group">
								<label>Measurand</label> <select
									class="form-control selectpicker"
									ng-options="measurand.name for measurand in measurands.availableOptions"
									ng-model="measurands.selectedOption" title="Measurand"
									ng-required="true" required>
									<option value="" disabled>-- choose a measurand --</option>
								</select>
							</div>
							<div class="form-group">
								<label>Environment</label> <select
									class="form-control selectpicker"
									ng-options="environment.name for environment in environments.availableOptions"
									ng-model="environments.selectedOption" title="Environment"
									ng-required="true" required>
									<option value="" disabled>-- choose an environment --</option>
								</select>
							</div>
							<div class="form-group">
								<label>Feature</label> <select class="form-control selectpicker"
									ng-options="feature.name for feature in featurelist"
									ng-model="features.selectedOption" title="Feature" ng-required="true"
									required>
									<option value="" disabled>-- choose a feature --</option>
								</select>
							</div>
							<div class="form-group">
								<label>Analysis</label> <select size="8"
									class="form-control selectpicker"
									ng-options="analysis.name for analysis in analyses.availableOptions"
									ng-model="analyses.selectedOption" title="Analysis"
									ng-required="true" required multiple>
								</select>
							</div>
							<div class=" form-group pull-right">
								<button type="reset" ng-click="clear()" class="btn">
									<span class="glyphicon glyphicon-erase">&ensp;</span> <strong>Cancel</strong>
								</button>
								<button type="submit" ng-click="create_complex()"
									ng-disabled="form.$invalid" class="btn">
									<span class="glyphicon glyphicon-send">&ensp;</span> <strong>Send</strong>
								</button>
							</div>
						</fieldset>
					</form>
				</section>
			</div>
		</div>
	</div>
	<footer id="footer">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<br> <span class="text-left">Copyright © 2015-2017.
						ICAM. Tous droits réservés.</span>
				</div>
				<div class="col-md-4">
					<a
						href="https://www.icam.fr/icam/les-campus-icam/icam-site-de-nantes"
						target="_blank"><img class="center-block" src="./png/icam.png"
						height="45" alt="Icam" /></a>
				</div>
				<div class="col-md-4">
					<div class="text-right">
						<br> <a href="https://www.facebook.com/icam.nantes"
							target="_blank"><i
							class="fa fa-facebook-square fa-2x text-muted"></i></a> <span>&emsp;</span>
						<a href="https://twitter.com/icam_fr" target="_blank"><i
							class="fa fa-twitter fa-2x text-muted"></i></a> <span>&emsp;</span> <a
							href="https://plus.google.com/118426909654384683619/about"
							target="_blank"><i class="fa fa-google-plus fa-2x text-muted"></i></a>
						<span>&emsp;</span> <a
							href="https://www.linkedin.com/company/icam-institut-catholique-d%27arts-et-metiers"
							target="_blank"><i class="fa fa-linkedin fa-2x text-muted"></i></a>
						<span>&emsp;</span> <a
							href="https://www.youtube.com/channel/UCQbkQwnly-uMpHTdudW8ocw"
							target="_blank"><i class="fa fa-youtube fa-2x text-muted"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>
