<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="css/index_tables.css">

</head>

<script type="text/javascript" src="DJS/Chart.min.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript" src="DJS/angular-chart.min.js"></script>
<script type="text/javascript">
	var app = angular.module('app', [ 'chart.js' ]);

	app.controller('myCtrl', function($scope, $http) {

		$scope.refresh = function() {
			$http.get("http://172.21.1.18/emit/experiment/list").then(
					function(response) {
						$scope.experimentlist = response.data;
					});
			$http.get("http://172.21.1.18/emit/observer/list").then(
					function(response) {
						$scope.observerlist = response.data;
					});
			$http.get("http://172.21.1.18/emit/observee/list").then(
					function(response) {
						$scope.observeelist = response.data;
					});
			$http.get("http://172.21.1.18/emit/measure/list").then(
					function(response) {
						$scope.measurelist = response.data;
					});
			$http.get("http://172.21.1.18/emit/measurement/list").then(
					function(response) {
						$scope.measurementlist = response.data;
					});
			$http.get("http://172.21.1.18/emit/measurand/list").then(
					function(response) {
						$scope.measurandlist = response.data;
					});
			$http.get("http://172.21.1.18/emit/measurementSet/list").then(
					function(response) {
						$scope.measurementsetlist = response.data;
					});
		}

		$scope.refresh();

		$scope.afficher_test = function(file_name) {
			var retour_test = [];
			var serie = [];
			var serie1 = [];
			var globalSerie = [];

			$http.get(
					"http://172.21.1.18/emit/test/test?file_name=" + file_name)
					.then(function(response) {
						retour_test = response.data;
						//console.log(retour_test.length);

						for (var i = 0; i < retour_test.length; i++) {
							serie[i] = retour_test[i].x / 1000;
							serie1[i] = retour_test[i].y;
							console.log(i);
							// renvois
						}

						$scope.loaded_file = "Loaded file : " + file_name;

						globalSerie.push(serie1);

						$scope.labels = serie
						$scope.series = [ 'Series A' ];

						console.log(serie);

						$scope.data = globalSerie;
						$scope.onClick = function(points, evt) {
							console.log(points, evt);

						}
					});
		}

		$scope.modify = function(primarykey, info) {
			sessionStorage.setItem("primarykey", primarykey);
			sessionStorage.setItem("info", info);
		}
		$scope.deleteobject = function(element, adresse_delete, primarykey) {
			var can_delete = true;
			switch (element) {
			case 'observer':
				angular.forEach($scope.measurementsetlist, function(value) {
					if (value.observer == primarykey) {
						can_delete = false;
					}
				});
				break;
			case 'observee':
				angular.forEach($scope.experimentlist, function(value) {
					if (value.observee == primarykey) {
						can_delete = false;
					}
				});
				break;
			case 'measurement':
				angular.forEach($scope.experimentlist, function(value) {
					if (value.measurand == primarykey) {
						can_delete = false;
					}
				});
				break;
			default:
				alert("Not possible yet");
				can_delete = false;
			}

			if (can_delete == true) {
				var data = {
					uri : primarykey
				}
				var url_delete = "http://172.21.1.18/emit" + adresse_delete;
				$http.post(url_delete, data).then(function(response) {

				});
				alert("This " + element + " is deleted");
				$scope.refresh();
			} else {
				alert("This " + element + " can't be deleted");
			}

		}
	});
</script>

<body ng-app="app" ng-controller="myCtrl">
	<header>
		<div class="navbar navbar-default navbar-custom navbar-static-top">
			<div class="container">
				<button class="navbar-toggle" data-toggle="collapse"
					data-target=".navHeaderCollapse">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="./index.html">EMIT</a>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-center">
						<li class="active"><a href="./index.html"><span
								class="glyphicon glyphicon-home">&ensp;</span> Home</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"><span
								class="glyphicon glyphicon-pushpin">&ensp;</span> Elements<span
								class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li><a href="./Observer.html">Observers</a></li>
								<li><a href="./Observee.html">Observees</a></li>
								<li><a href="./Measurand.html">Measurands</a></li>
							</ul></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false"> <span
								class="glyphicon glyphicon-user">&ensp;</span> Compte <span
								class="caret"></span>
						</a>
							<ul class="dropdown-menu" role="menu">
								<li ng-if="passphrase"><a href="./settings.html""><span
										class="glyphicon glyphicon-cog">&ensp;</span> Parameters</a></li>
								<li ng-if="passphrase"><a href="./index.html"
									ng-click="logout()"><span
										class="glyphicon glyphicon-log-out">&ensp;</span> Log out</a></li>
								<li ng-if="!passphrase"><a href="./sign-in.html"><span
										class="glyphicon glyphicon-log-in">&ensp;</span>
										Authentification</a></li>
								<li ng-if="!passphrase"><a href="./sign-up.html"><span
										class="glyphicon glyphicon-edit">&ensp;</span> Inscription</a></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</div>
	</header>
</body>

</html>
