<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emit | Instruments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">
      html {overflow-y:scroll;position:relative;height:100%;min-height:100%;}
      body {margin-bottom: 60px;}
      .footer {position:absolute;bottom:0;width:100%;height:60px;background-color:#f5f5f5;padding-top:10px;}
    </style>
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/i18n/angular-locale_fr-fr.js"></script>
  <script type="text/javascript">
  var app = angular.module('app',[]);

  app.filter('ceil', function() {
    return function(input) {
	  return Math.ceil(input);
    };
  });
  
  app.controller('controller', function ($scope, $http, $window) {

	$scope.username = null;
	$scope.rolename = false;
	  
  	var user = function() {
  		$http({method:'GET',url:'./account/user'})
  		.then(function onSuccess(response) {
  			$scope.username = response.data;
  		}, function onError(response) {
  			$scope.username = null;
  		});
  	}
	  
  	var role = function() {
  		$http({method:'GET',url:'./account/role'})
  		.then(function onSuccess(response) {
  			$scope.rolename = response.data;
  		}, function onError(response) {
  			$scope.rolename = null;
  		});
  	}
	  
  	$scope.clear = function() {
  		$http({method:'GET',url:'./account/clear'})
  		.then(function onSuccess(response) {
  			$scope.username = null;
  			var host = $window.location.host;
			var path = $window.location.pathname;
			var url = "http://" + host + path;
			$window.location.href = url;
  		}, function onError(response) {
  			// fixme
  		});
 	}

  	var empty = {};
  	$scope.item = {};
    
    $scope.length = 5;
    $scope.offset = 0;
    $scope.size = 0;
    $scope.items = [];
    
    $scope.prev = function() {
      if ($scope.length <= $scope.offset) {
        $scope.offset = $scope.offset - $scope.length;
        page();
      }
    }
    
    $scope.next = function() {
      if ($scope.offset + $scope.length < $scope.size) {
        $scope.offset = $scope.offset + $scope.length;
        page();                     
      }
    }
    
    $scope.first = function() {
      $scope.offset = 0;
      page();
    }

    $scope.last = function() {
      $scope.offset = Math.floor(($scope.size - 1) / $scope.length) * $scope.length;
      page();
    }

    var size = function() {
      $http({method:'GET',url:'./instrument/size'})
      .then(function onSuccess(data) {
        $scope.size = data.data;
      },function onError(data) {
        $scope.size = 0;
      });
    }

    var page = function() {
      var content = "length=" + $scope.length + "&offset=" + $scope.offset; 
      $http({method:'GET',url:'./instrument/page?' + content})
      .then(function onSuccess(data) {
        $scope.items = data.data;
      },function onError(data) {
        $scope.items = [];
      });
    }

    $scope.create = function() {
      var content = "uri=" + $scope.item.uri + "&name=" + $scope.item.name;
      $http({method:'POST',url:'./instrument/create',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(data) {
    	$scope.clean();
    	size();
    	page();
    	display("info", "L'instrument de mesure a bien été créé.");
      },function onError(data) {
        $scope.clean();
        display("warning", "Une erreur est survenue pendant la création de l'instrument de mesure.");
      });
    }

    $scope.remove = function(item) {
      var content = "id=" + item.id;
      $http({method:'POST',url:'./instrument/delete',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(data) {
    	$scope.clean();
    	size();
    	page();
    	display("info", "L'instrument de mesure a bien été supprimé.");
      },function onError(data) {
        $scope.clean();
        display("warning", "Une erreur est survenue pendant la suppression de l'instrument de mesure.");
      });
    }
    
    $scope.clean = function() {
      $scope.item = angular.copy(empty);
    }
  
    $scope.pick = function(item) {
      $scope.item = item;
    }
  	
  	user();
  	role();
  	size();
  	page();
  	
    $scope.message = {};
    
    var display = function(type, content) {
        $scope.message.type = type;
        $scope.message.content = content;
        $("#alert").show();
    }
    
    $scope.close = function() {
        $("#alert").hide();
        $scope.alert = {};
    }

  });
  </script>
  <body ng-app="app" ng-controller="controller">
    <header>
      <div class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html"><span class="glyphicon glyphicon-home" aria-hidden="true">&nbsp;Emit</span></a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li class="dropdown" ng-show="rolename">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true">&nbsp;Édition</span>
                  <span class="caret"></span>
                  </a>
                <ul class="dropdown-menu">
                  <li><a href="./measure.html"><span class="glyphicon glyphicon-king" aria-hidden="true">&nbsp;</span>Métriques</a></li>
                  <li><a href="./instrument.html"><span class="glyphicon glyphicon-king" aria-hidden="true">&nbsp;</span>Instruments de mesure</a></li>
                  <li><a href="./measurand.html"><span class="glyphicon glyphicon-king" aria-hidden="true">&nbsp;</span>Objets de mesure</a></li>
                  <li><a href="./environment.html"><span class="glyphicon glyphicon-king" aria-hidden="true">&nbsp;</span>Environnements de mesure</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <span class="glyphicon glyphicon-user" aria-hidden="true">&nbsp;Compte</span>
                  <span class="caret"></span>
                  </a>
                <ul class="dropdown-menu">
                  <li class="dropdown-header">{{username}}</li>
                  <li><a href="./account.html"><span class="glyphicon glyphicon-cog" aria-hidden="true">&nbsp;Paramètres</span></a></li>
                  <li><a href="./token.html"><span class="glyphicon glyphicon-tags" aria-hidden="true">&nbsp;Jetons</span></a></li>
                  <li role="separator" class="divider"></li>
                  <li><a ng-click="clear()"><span class="glyphicon glyphicon-off" aria-hidden="true">&nbsp;Déconnexion</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <section id="content" class="container ng-cloak">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3>Instruments <small>({{size}} éléments)</small></h3>
            <nav aria-label="...">
              <ul class="pager">
                <li class="previous"><a class="btn btn-default" ng-click="first()"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span> </a></li>
                <li class="previous"><a class="btn btn-default" ng-click="prev()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a></li>
                <li>{{(offset + 1) / length | ceil}} / {{size / length | ceil}}</li>
                <li class="next"><a class="btn btn-default" ng-click="last()"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
                <li class="next"><a class="btn btn-default" ng-click="next()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
              </ul>
            </nav>
          </div>
          <div class="list-group" ng-repeat="item in items">
            <li class="list-group-item">
              <h4 class="list-group-item-heading">{{item.uri}}</h4>
              <p class="list-group-item-text">{{item.name}}</p>
              <p class="list-group-item-text text-right"><button class="btn btn-default" ng-click="remove(item)">Supprimer</button></p>
            </li>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form name="form" class="form list-group-item" id="form">
          <fieldset>
            <legend>Création d'un instrument de mesure</legend>
            <div class="form-group">
              <label for="instrument.uri">URI de l'instrument de mesure</label>
              <input type="text" class="form-control" id="instrument.uri" ng-model="item.uri" placeholder="URI de l'instrument de mesure" ng-required="true" required>
            </div>
            <div class="form-group">
              <label for="instrument.name">Nom de l'instrument de mesure</label>
              <input type="text" class="form-control" id="instrument.name" ng-model="item.name" placeholder="Nom de l'instrument de mesure" ng-required="true" required>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group pull-right">
                  <button type="reset" class="btn btn-default" ng-click="clean()"><strong>Effacer</strong></button>
                  <button type="submit" class="btn btn-primary" ng-click="create()" ng-disabled="!form.$valid"><strong>Ajouter</strong></button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="alert alert-{{message.type}} alert-dismissible" id="alert" role="alert" style="display:none;margin-top:20px;">
          <button type="button" class="close" aria-label="close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
          <p>{{message.content}}</p>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="container">
        <p class="text-justify">
          <em>Emit</em> est un prototype développé par l'<a href="http://www.icam.fr">I<font style="font-size: 90%">CAM</font></a> 
          dans le cadre du projet de recherche 
          <a style="font-variant: small-caps" href="http://measure.softeam-rd.eu">M<font style="font-size: 90%">EASURE</font></a>
          hébergé sous <a href="https://github.com/jeromerocheteau/emit">GitHub</a>.
        </p>
      </div>
    </footer>
  </body>
</html>
