<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="css/sb-admin-2.css" rel="stylesheet">
</head>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('app', []);
	var old_uri;
	var old_name;

	app.filter('ceil', function() {
		return function(input) {
			return Math.ceil(input);
		};
	});

	app
			.controller(
					'controller',
					function($scope, $http) {

						$http
								.get(
										"http://172.21.50.3:8080/emit/measurementSet/list")
								.then(function(response) {
									$scope.measurementsetlist = response.data;
								});

						var empty = {};

						$scope.selected = false;
						$scope.creating = false;
						$scope.updating = false;

						$scope.alert = {};
						$scope.instrument = {};
						$scope.instruments = [];
						$scope.size = 0;
						$scope.offset = 0;
						$scope.length = 5;

						var init = function() {
							$scope.selected = false;
							$scope.creating = false;
							$scope.updating = false;
							$scope.instrument = angular.copy(empty);
						}
						$scope.clean = function() {
							init();
						}
						$scope.select = function(instrument) {
							if (instrument) {
								$scope.creating = false;
								$scope.updating = true;
								$scope.instrument = instrument;
								old_uri = instrument.uri;
								old_name = instrument.name;
								$scope.old_name = old_name;

							} else {
								$scope.creating = true;
								$scope.updating = false;
							}
							$scope.selected = true;
						}
						$scope.create = function() {

							var indata = {
								uri : $scope.instrument.uri,
								name : $scope.instrument.name
							};
							$http
									.post(
											"http://172.21.50.3:8080/emit/instrument/create",
											indata)
									.then(
											function(success) {
												alert("Instrument created");
												init();
												$scope.size = 0;
												$scope.offset = 0;
												size();
												page();
											},
											function(error) {
												alert("An error occured during creation of the instrument.");
											});
						}
						$scope.update = function() {
							var indata = [ {
								uri : old_uri,
								name : old_name
							}, {
								uri : $scope.instrument.uri,
								name : $scope.instrument.name
							} ];

							$http
									.post(
											"http://172.21.50.3:8080/emit/instrument/update",
											indata)
									.then(
											function(success) {
												alert("Instrument updated");
											},
											function(error) {
												alert("An error occured during updating of the instrument.");
											});
							$scope.clean();
						}

						$scope.remove = function(instrument) {
							$scope.instrument = instrument;
							$('#modal').modal('show');
						}

						$scope.erase = function() {
							$('#modal').modal('hide');
							var can_delete = true;
							var uri = $scope.instrument.uri;
							angular.forEach($scope.measurementsetlist,
									function(value) {
										if (value.instrument == uri) {
											can_delete = false;
										}
									});
							if (can_delete == true) {
								var data = {
									uri : uri
								};
								$http
										.post(
												"http://172.21.50.3:8080/emit/instrument/delete",
												data)
										.then(
												function(success) {
													alert("Instrument deleted");
													init();
													$scope.size = 0;
													$scope.offset = 0;
													size();
													page();
												},
												function(error) {
													alert("An error occured during deleting of the instrument.");
												});
							} else {
								alert("This " + element + " can't be deleted");
							}
						}

						var size = function() {
							$http
									.get(
											"http://172.21.50.3:8080/emit/instrument/size")
									.then(function(success) {
										$scope.size = success.data;
									}, function(error) {
										$scope.size = 0;
									});
						}
						var page = function() {
							$http
									.get(
											"http://172.21.50.3:8080/emit/instrument/page",
											{
												"params" : {
													"offset" : $scope.offset
												}
											}).then(function(success) {
										$scope.instruments = success.data;
									}, function(error) {
										$scope.instruments = [];
									});
						}
						$scope.prev = function() {
							if ($scope.length <= $scope.offset) {
								$scope.offset = $scope.offset - $scope.length;
								page();
							}
						}
						$scope.next = function() {
							if ($scope.offset + $scope.length < $scope.size) {
								$scope.offset = $scope.offset + $scope.length;
								page();
							}
						}
						$scope.first = function() {
							$scope.offset = 0;
							page();
						}
						$scope.last = function() {
							$scope.offset = Math.floor(($scope.size - 1)
									/ $scope.length)
									* $scope.length;
							page();
						}

						init();
						size();
						page();

					});
</script>
<body ng-app="app" ng-controller="controller">

	<header>
		<div class="navbar navbar-default navbar-custom navbar-static-top"
			id="navigation_barre">
			<div class="container">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a href="./index.html" class="navbar-brand" id="titre_appli">EMIT</a>
				<ul id="menu">
					<li class="active primaire"><a href="./index.html"
						class="primaire"><span class="glyphicon glyphicon-home">&ensp;</span>
							Home</a></li>

					<li class="dropdown primaire"><a href="#"
						class="dropdown-toggle primaire" data-toggle="dropdown"
						role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-pushpin">&ensp;</span> Elements<span
							class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="./Instrument.html">Instruments</a></li>
							<li><a href="./Environment.html">Environments</a></li>
							<li><a href="./Measurand.html">Measurands</a></li>
							<li><a href="./Measure.html">Measures</a></li>
						</ul></li>
					<li class="active primaire"><a href="./CreateExperiment.html"
						class="primaire"><span class="glyphicon glyphicon-plus">&ensp;</span>Add
							experiment</a></li>
					<li class="active primaire"><a href="./test.html"
						class="primaire"><span class="glyphicon glyphicon-dashboard">&ensp;</span>
							Test</a></li>
				</ul>


			</div>
		</div>
	</header>






	<div class="container">
	<br>
	<br>
	<br>
		<section id="search" class="col-md-4">
		<br>
	<br>
			<form class="form" role="form" name="form" ng-if="selected">
				<fieldset>
					<legend ng-if="creating">Creation of a new instrument</legend>
					<legend ng-if="updating">Updating an instrument
						{{old_name}}</legend>
					<div class="form-group">
						<label for="instrument.uri">URI of the instrument</label> <input
							type="text" id="instrument.uri" class="form-control"
							ng-model="instrument.uri" placeholder="URI" required
							ng-required="true" />
					</div>
					<div class="form-group">
						<label for="instrument.name">Name</label> <input type="text"
							id="instrument.name" class="form-control"
							ng-model="instrument.name" placeholder="Name" ng-required="true" />
					</div>
					<div class="form-group pull-right">
						<button type="reset" class="btn btn-default" ng-click="clean()">
							<strong>Cancel</strong>
						</button>
						<button type="submit" class="btn"
							ng-click="form.$valid && update()" ng-disabled="form.$invalid"
							ng-if="updating">
							<strong>Modify</strong>
						</button>
						<button type="submit" class="btn"
							ng-click="form.$valid && create()" ng-disabled="form.$invalid"
							ng-if="creating">
							<strong>Add</strong>
						</button>
					</div>
				</fieldset>
			</form>
		</section>
		<section id="results" class="col-md-8">
			<h2>
				Instruments <small>({{size}} elements)</small>
			</h2>
			<nav aria-label="...">
				<ul class="pager">
					<li class="previous"><a class="btn btn-default"
						ng-click="first()"><span aria-hidden="true"
							class="glyphicon glyphicon-step-backward"></span> </a></li>
					<li class="previous"><a class="btn btn-default"
						ng-click="prev()"><span aria-hidden="true"
							class="glyphicon glyphicon-chevron-left"></span></a></li>
					<li ng-if="size > 0">{{(offset / length) + 1 | ceil}} / {{size
						/ length | ceil}}</li>
					<li class="next"><a class="btn btn-default" ng-click="last()"><span
							aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
					<li class="next"><a class="btn btn-default" ng-click="next()"><span
							aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
				</ul>
			</nav>
			<ul class="list-group" ng-repeat="instrument in instruments">
				<li class="list-group-item">
					<p class="list-group-item-heading">{{instrument.name}}</p>
					<p class="list-group-item-text">
						<span ng-if="instrument.uri">{{instrument.uri}} </span>
					</p>
					<p class="list-group-item-text text-right">
						<button type="button" class="btn btn-default"
							ng-click="remove(instrument)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						</button>
						<span>&nbsp;</span>
						<button type="button" class="btn btn-default"
							ng-click="select(instrument)">
							<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
						</button>
					</p>
				</li>
			</ul>
			<div class="">
				<button type="button" class="btn btn-info pull-right"
					ng-click="select()">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				</button>
			</div>
		</section>
	</div>
	<div id="modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Deleting an instrument</h4>
				</div>
				<div class="modal-body">
					<p>Do you really want to delete : {{instrument.name}}&nbsp;?</p>
					<p>URI&nbsp;: {{instrument.uri}}</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn" ng-click="erase()">Confirm</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
