<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>EMIT</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
<script type="text/javascript">
	var app = angular.module('app', []);

	app.controller('myCtrl', function($scope, $http) {

		$scope.uri = null;
		$scope.name = null;
		$scope.create = function() {
			var indata = {
				uri : $scope.uri,
				name : $scope.name
			};
			$http.post("http://172.21.1.18/emit/observer/create", indata).then(
					function(response) {
						alert("Observer created");
					});
			$scope.clear();
		}
		$scope.clear = function() {
			$scope.uri = null;
			$scope.name = null;
		}
	});
</script>
<body>
	<body ng-app="app" ng-controller="controller">
    <header>
      <div class="navbar navbar-default navbar-custom navbar-static-top">
        <div class="container">
          <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="./index.html">OpenBeer DB</a>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-center">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-pushpin">&ensp;</span> Séance n°1 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header"><a href="list.html">Liste des brasseries</a></li>
                  <li class="dropdown-header"><a href="page.html">Pages des bières</a></li>
                  <li class="dropdown-header"><a href="page-per-country.html">Pages des bières pour un pays</a></li>
                  <li class="dropdown-header"><a href="page-per-filter.html">Recherche de bières</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-pushpin">&ensp;</span> Séance n°2 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header"><a href="breweries.html">Édition des brasseries</a></li>
                  <li class="dropdown-header"><a href="beers.html">Édition des bières</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-pushpin">&ensp;</span> Séance n°3 <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown-header"><a href="dashboard.html">Tableau de bord</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right">
              <div class="form-group">
                <input type="text" class="form-control" ng-model="id" placeholder="Spécifier votre identifiant de binôme">
              </div>
              <button type="submit" ng-click="setId()" class="btn btn-default">Valider</button>
            </form>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <section id="search" class="col-md-4">
        <form class="form" role="form" name="form" ng-if="selected">
          <fieldset>
          <legend ng-if="creating">Édition d'une nouvelle brasserie</legend>
          <legend ng-if="updating">Édition de la brasserie #{{brewery.id}}</legend>
            <div class="form-group">
              <label for="brewery.name">Nom de la brasserie</label>
              <input type="text" id="brewery.name" class="form-control" ng-model="brewery.name" placeholder="Nom" required ng-required="true" />
            </div>
            <div class="form-group">
              <label for="brewery.address">Adresse de la brasserie</label>
              <input type="text" id="brewery.address" class="form-control" ng-model="brewery.address" placeholder="Adresse" ng-required="false" />
            </div>
            <div class="form-group">
              <label for="brewery.city">Ville de la brasserie</label>
              <input type="text" id="brewery.city" class="form-control" ng-model="brewery.city" placeholder="Ville" required ng-required="true" />
            </div>
            <div class="form-group">
              <label for="brewery.country">Pays de la brasserie</label>
              <input type="text" id="brewery.country" class="form-control" ng-model="brewery.country" placeholder="Pays" required ng-required="true" />
            </div>
            <div class="form-group pull-right">
               <button type="reset" class="btn btn-default" ng-click="clean()"><strong>Annuler</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && update()" ng-disabled="form.$invalid" ng-if="updating"><strong>Modifier</strong></button>
               <button type="submit" class="btn" ng-click="form.$valid && create()" ng-disabled="form.$invalid" ng-if="creating"><strong>Ajouter</strong></button>
             </div>
          </fieldset>
        </form>
        <div class="alert alert-{{alert.type}} alert-dismissible" id="alert" role="alert" style="display:none;">
          <button type="button" class="close" aria-label="close" ng-click="dismiss()"><span aria-hidden="true">&times;</span></button>
          <p>{{alert.message}}</p>
        </div>
      </section>
      <section id="results" class="col-md-8">
        <h2>Brasseries <small>({{size}} éléments)</small></h2>
        <nav aria-label="...">
          <ul class="pager">
            <li class="previous"><a class="btn btn-default" ng-click="first()"><span aria-hidden="true" class="glyphicon glyphicon-step-backward"></span> </a></li>
            <li class="previous"><a class="btn btn-default" ng-click="prev()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-left"></span></a></li>
            <li ng-if="size > 0">{{(offset / length) + 1 | ceil}} / {{size / length | ceil}}</li>
            <li class="next"><a class="btn btn-default" ng-click="last()"><span aria-hidden="true" class="glyphicon glyphicon-step-forward"></span></a></li>
            <li class="next"><a class="btn btn-default" ng-click="next()"><span aria-hidden="true" class="glyphicon glyphicon-chevron-right"></span></a></li>
          </ul>
        </nav>
        <ul class="list-group" ng-repeat="brewery in breweries">
          <li class="list-group-item">
            <p class="list-group-item-heading">#{{brewery.id}} {{brewery.name}}</p>
            <p class="list-group-item-text"><span ng-if="brewery.address">{{brewery.address}}, </span>{{brewery.city}}, {{brewery.country}}</p>
            <p class="list-group-item-text text-right">
              <button type="button" class="btn btn-default" ng-click="remove(brewery)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
              <span>&nbsp;</span> 
              <button type="button" class="btn btn-default" ng-click="select(brewery)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button>
            </p>
          </li>
        </ul>
        <div class="">
          <button type="button" class="btn btn-info pull-right" ng-click="select()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
        </div>
      </section>
    </div>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Suppression d'une brasserie</h4>
          </div>
          <div class="modal-body">
            <p>Voulez-vous réellement supprimer la brasserie #{{brewery.id}}&nbsp;?</p>
            <p>nom&nbsp;: {{brewery.name}}</p>
            <p ng-if="brewery.address">adresse&nbsp;: {{brewery.address}}</p>
            <p>ville&nbsp;: {{brewery.city}}</p>
            <p>pays&nbsp;: {{brewery.country}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
            <button type="button" class="btn" ng-click="erase()">Confirmer</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</body>
</html>