<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">

 <resource-ref>
    <description>JDBC Resource</description>
    <res-ref-name>jdbc/database</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>jdbc-resource</param-name>
    <param-value>jdbc/database</param-value>
  </context-param>
  
  <listener>
    <listener-class>com.github.jeromerocheteau.JdbcListener</listener-class>
  </listener>

  <filter>
    <filter-name>encoding-filter</filter-name>
    <filter-class>com.github.jeromerocheteau.JdbcFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>encoding-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>user-find</servlet-name>
    <servlet-class>fr.icam.emit.services.UserFind</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/user-find.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>user-check</servlet-name>
    <servlet-class>fr.icam.emit.services.UserCheck</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/user-check.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>pass-create</servlet-name>
    <servlet-class>fr.icam.emit.services.PassCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/pass-create.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>account-create</servlet-name>
    <servlet-class>fr.icam.emit.services.AccountCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/account-create.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>user-create</servlet-name>
    <servlet-class>fr.icam.emit.services.UserCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/user-create.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>pass-delete</servlet-name>
    <servlet-class>fr.icam.emit.services.PassDelete</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/pass-delete.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>user-info</servlet-name>
    <servlet-class>fr.icam.emit.services.UserInfo</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/user-info.sql</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>user-update</servlet-name>
    <servlet-class>fr.icam.emit.services.UserUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/user-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-update</servlet-name>
    <url-pattern>/settings/name</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>account-update</servlet-name>
    <servlet-class>fr.icam.emit.services.AccountUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/account-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>account-update</servlet-name>
    <url-pattern>/settings/auth</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>invoke</servlet-name>
    <servlet-class>fr.icam.emit.services.Invoke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoke</servlet-name>
    <url-pattern>/invoke</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>revoke</servlet-name>
    <servlet-class>fr.icam.emit.services.Revoke</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>revoke</servlet-name>
    <url-pattern>/revoke</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>fr.icam.emit.services.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>profile</servlet-name>
    <servlet-class>fr.icam.emit.services.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>

</web-app>