<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Emit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/emit/emit.css">
  </head>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.1/moment.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.9.6/rivets.bundled.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="/emit/emit.js"></script>
  <body id="content">
    <section id="menu">
      <div class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/emit/index.html">Home</a>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active dropdown" rv-show="user.role">
                <a class="nav-link active dropdown-toggle" href="#" id="configuringDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Configuring
                </a>
                <div class="dropdown-menu" aria-labelledby="configuringDropdown">
                  <a class="dropdown-item" href="/emit/configuring/brokers.html">Brokers</a>
                  <a class="dropdown-item" href="/emit/configuring/clients.html">Clients</a>
                  <a class="dropdown-item" href="/emit/configuring/callbacks.html">Callbacks</a>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="monitoringDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Monitoring
                </a>
                <div class="dropdown-menu" aria-labelledby="monitoringDropdown">
                  <a class="dropdown-item" href="/emit/monitoring/clients.html">Clients</a>
                </div>
              </li>
              <li class="nav-item active dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="reportingDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Reporting
                </a>
                <div class="dropdown-menu" aria-labelledby="reportingDropdown">
                  <a class="dropdown-item" href="/emit/reporting/clients.html">Clients</a>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav">
              <li class="nav-item active dropdown">
                <a class="nav-link active dropdown-toggle" href="#" id="accountDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdown">
                  <div class="dropdown-header" rv-text="user.name"></div>
                  <a class="dropdown-item" href="/emit/settings.html">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/emit/user/clear">Disconnect</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="title" class="jumbotron jumbotron-fluid">
      <div class="container-fluid">
        <h1 class="display-4">EMIT <small class="lead">a supervisory &amp; control system for networks of MQTT clients</small></h1>
      </div>
    </section>
    <section class="container-fluid row">
    
      <div class="col-6">
          <div class="container" style="padding-top:1ex;">
            <button class="float-right btn btn-outline-secondary" rv-on-click="brokers.clean">
             <i class="fas fa-sync"></i>
            </button>
            <h4>Brokers <small>(<span rv-text="brokers.size"></span> items)</small></h4>
          </div>
          <div class="container" style="padding-top:1ex;">
            <nav class="btn-toolbar justify-content-between" role="toolbar" aria-label="...">
              <div class="btn-group" role="group">
                <button class="btn btn-outline-secondary" rv-on-click="brokers.first">
                  <i class="fas fa-step-backward"></i>
                </button>
                <button class="btn btn-outline-secondary" rv-on-click="brokers.prev">
                  <i class="fas fa-chevron-left"></i>
                </button>
              </div>
              <div class="btn-group" role="group">
                <span rv-text="brokers.index"></span>/<span rv-text="brokers.limit"></span>
              </div>
              <div class="btn-group" role="group">
                <button class="btn btn-outline-secondary" rv-on-click="brokers.next">
                  <i class="fas fa-chevron-right"></i>
                </button>
                <button class="btn btn-outline-secondary" rv-on-click="brokers.last">
                  <i class="fas fa-step-forward"></i>
                </button>
              </div>
            </nav>
          </div>
          <ul class="container list-group" style="padding-top:1ex;">
            <li class="list-group-item" rv-each-item="brokers.items">
              <h5 class="list-group-item-heading">{item.name}</h5>
              <p class="list-group-item-text">{item.uri}</p>
              <p class="list-group-item-text" rv-show="item.username">{item.username}</p>
              <button class="float-right btn btn-outline-primary" rv-on-click="item.select" rv-disabled="brokers.item">Edit</button>
            </li>
          </ul>
          <div class="container" style="padding-top:1ex;">
            <p class="text-right"><button class="btn btn-primary" rv-on-click="brokers.select" rv-disabled="brokers.item">Create</button></p>
          </div>
      </div>
      
      <div class="col-6">
      
        <form name="form container" class="form" id="form" rv-show="brokers.item">
          <fieldset>
            <legend rv-show="brokers.creating">Create a broker</legend>
            <legend rv-show="brokers.updating">Update a broker</legend>
            <div class="form-group">
              <input type="text" class="form-control" id="broker.uri" rv-value="brokers.item.uri" placeholder="Hostname" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="broker.name" rv-value="brokers.item.name" placeholder="Name">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="broker.username" rv-value="brokers.item.username" placeholder="Username">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" id="broker.password" rv-value="brokers.item.password" placeholder="Password">
            </div>
            <div class="form-group pull-right">
              <button type="reset" class="btn btn-outline-secondary" rv-on-click="brokers.clean"><strong>Cancel</strong></button>
              <button type="button" class="btn btn-outline-primary" rv-on-click="brokers.create" rv-show="brokers.creating"><strong>Create</strong></button>
              <button type="button" class="btn btn-outline-danger" rv-on-click="brokers.delete" rv-show="brokers.updating"><strong>Delete</strong></button>
              <button type="button" class="btn btn-outline-primary" rv-on-click="brokers.update" rv-show="brokers.updating"><strong>Update</strong></button>
            </div>
          </fieldset>
        </form>
      
      </div>
    
    </section>
    <footer class="footer fixed-bottom bg-light text-dark">
      <p class="text-center">Copyright © 2015-2018. ICAM. All rights reserved.</p>
    </footer>
  </body>
  <script type="text/javascript">
  var content = {};
  rivets.bind($('#content'), content);
  
  content.user = {};
  
  emit.user.name(function onSuccess(response) {
	content.user.name = response;
	emit.user.role(function onSuccess(response) {
	  content.user.role = response;
	},function onError(response) {
	  content.user.role = false;
	});
  }, function onError(response){
	content.user.name = null;
  });
  
  content.brokers = {};
  content.brokers.creating = false;
  content.brokers.updating = false;
  content.brokers.item = null;
  content.brokers.length = 5;
  content.brokers.offset = 0;
  content.brokers.limit = 1;
  content.brokers.index = 1;
  content.brokers.size = 0;
  content.brokers.items = [];
  
  var sync = function() {
	content.brokers.index = Math.ceil((content.brokers.offset + 1) / content.brokers.length);
	content.brokers.limit = Math.ceil(content.brokers.size / content.brokers.length);
  }
  
  content.brokers.prev = function() {
    if (content.brokers.length <= content.brokers.offset) {
      content.brokers.offset = content.brokers.offset - content.brokers.length;
      sync();
      page();
    }
  }
  
  content.brokers.next = function() {
    if (content.brokers.offset + content.brokers.length < content.brokers.size) {
      content.brokers.offset = content.brokers.offset + content.brokers.length;
      sync();
      page();
    }
  }
  
  content.brokers.first = function() {
    content.brokers.offset = 0;
    sync();
    page();
  }

  content.brokers.last = function() {
    content.brokers.offset = Math.floor((content.brokers.size - 1) / content.brokers.length) * content.brokers.length;
    sync();
    page();
  }
      
  content.brokers.select = function() {
    content.brokers.creating = true;
    content.brokers.updating = false;
    content.brokers.item = {};
  }
      
  var select = function(item) {
    content.brokers.creating = false;
    content.brokers.updating = true;
    content.brokers.item = Object.assign({}, item);
  }
  
  content.brokers.clean = function() {
    content.brokers.creating = false;
    content.brokers.updating = false;
    content.brokers.item = null;
  }

  var size = function() {
    emit.broker.size(function onSuccess(response) {
      content.brokers.size = response;
      sync();
      page();
    },function onError(response) {
      content.brokers.size = 0;
    });
  }
    
  var page = function() {
    emit.broker.page(content.brokers, function onSuccess(response) {
      content.brokers.items = response;
      content.brokers.items.forEach(function (item) {
    	item.select = function() { select(item); };
      });
    },function onError(response) {
      content.brokers.items = [];
    });
  }
  
  size();
  
  </script>
</html>

<!-- 
      <div class="col-md-6">
        <form name="form" class="form list-group-item" id="form">
          <fieldset ng-disabled="!(x1.creating || x1.updating)">
            <legend ng-hide="x1.updating">Create a broker</legend>
            <legend ng-show="x1.updating">Update a broker</legend>
            <div class="row" ng-hide="x1.updating">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="broker.uri" ng-model="x1.item.uri" placeholder="Hostname" ng-required="true" required>
                </div>
              </div>
            </div>
            <div class="row" ng-show="x1.updating">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="broker.uri" ng-model="x1.item.uri" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="broker.name" ng-model="x1.item.name" placeholder="Name">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" class="form-control" id="broker.username" ng-model="x1.item.username" placeholder="Username">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="password" class="form-control" id="broker.password" ng-model="x1.item.password" placeholder="Password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group pull-right">
                  <button type="reset" class="btn" ng-click="x1.doClean()"><strong>Cancel</strong></button>
                  <button type="submit" class="btn btn-default" ng-click="x1.doCreate()" ng-show="x1.creating" ng-disabled="!form.$valid"><strong>Create</strong></button>
                  <button type="submit" class="btn btn-danger" ng-click="x1.doDelete()" ng-show="x1.updating" ng-disabled="!form.$valid"><strong>Delete</strong></button>
                  <button type="submit" class="btn btn-default" ng-click="x1.doUpdate()" ng-show="x1.updating" ng-disabled="!form.$valid"><strong>Update</strong></button>
                </div>
              </div>
            </div>
          </fieldset>
        </form>
        <div class="alert alert-{{message.type}} alert-dismissible" id="alert" role="alert" style="display:none;margin-top:20px;">
          <button type="button" class="close" aria-label="close" ng-click="doDismiss()"><span aria-hidden="true">&times;</span></button>
          <p>{{message.content}}</p>
        </div>
      </div>
    
    </section>

 -->

  <!-- script type="text/javascript">
  var app = angular.module('app',[]);

  app.filter('ceil', function() {
	return function(input) {
	  return Math.ceil(input);
	};
  });
  
  app.controller('controller', function (content, $http) {

	$scope.user = {};
	$scope.user.name = null;
	$scope.user.role = false;
	  
  	var user = function() {
  		$http({method:'GET',url:'../user/name'})
  		.then(function onSuccess(response) {
  			$scope.user.name = response.data;
  		}, function onError(response) {
  			$scope.user.name = null;
  		});
  		$http({method:'GET',url:'../user/role'})
  		.then(function onSuccess(response) {
  			$scope.user.role = response.data;
  		}, function onError(response) {
  			$scope.user.role = false;
  		});
  	}
  	
  	user();
  	
  	$scope.message = {};
    
    var display = function(type, content) {
        $scope.message.type = type;
        $scope.message.content = content;
        $("#alert").show();
    }
    
    $scope.doDismiss = function() {
        $("#alert").hide();
        $scope.alert = {};
    }
  	
    $scope.x1 = {};
    $scope.x1.creating = false;
    $scope.x1.updating = false;
    $scope.x1.item = null;
    $scope.x1.length = 5;
    $scope.x1.offset = 0;
    $scope.x1.size = 0;
    $scope.x1.items = [];
    
    $scope.x1.doPrev = function() {
      if ($scope.x1.length <= $scope.x1.offset) {
        $scope.x1.offset = $scope.x1.offset - $scope.x1.length;
        $scope.x1.doPage();
      }
    }
    
    $scope.x1.doNext = function() {
      if ($scope.x1.offset + $scope.x1.length < $scope.x1.size) {
        $scope.x1.offset = $scope.x1.offset + $scope.x1.length;
        $scope.x1.doPage();
      }
    }
    
    $scope.x1.doFirst = function() {
      $scope.x1.offset = 0;
      $scope.x1.doPage();
    }

    $scope.x1.doLast = function() {
      $scope.x1.offset = Math.floor(($scope.x1.size - 1) / $scope.x1.length) * $scope.x1.length;
      $scope.x1.doPage();
    }
        
    $scope.x1.doSelect = function(item) {
      if (item) {
        $scope.x1.creating = false;
        $scope.x1.updating = true;
        $scope.x1.item = angular.copy(item);              
      } else {
        $scope.x1.creating = true;
        $scope.x1.updating = false;
        $scope.x1.item = angular.copy({});
      }
    }
    
    $scope.x1.doClean = function() {
      $scope.x1.creating = false;
      $scope.x1.updating = false;
      $scope.x1.item = null;
    }

    $scope.x1.doSize = function() {
      $http({method:'GET',url:'../brokers/size'})
      .then(function onSuccess(response) {
         $scope.x1.size = response.data;
      },function onError(response) {
        $scope.x1.size = 0;
      });
    }
      
    $scope.x1.doPage = function() {
      var content = "length=" + $scope.x1.length + "&offset=" + $scope.x1.offset; 
      $http({method:'GET',url:'../brokers/page?' + content})
      .then(function onSuccess(response) {
        $scope.x1.items = response.data;
      },function onError(response) {
        $scope.x1.items = [];
      });
    }

    $scope.x1.doCreate = function() {
      var content = "uri=" + $scope.x1.item.uri + "&name=" + $scope.x1.item.name + ($scope.x1.item.username ? "&username=" + $scope.x1.item.username : "") + ($scope.x1.item.password ? "&password=" + $scope.x1.item.password : "");
      $http({method:'POST',url:'../brokers/create',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
        display("success", "The new broker has been sucessfully created.");
        $scope.x1.doClean();
        $scope.x1.doSize();
        $scope.x1.doPage();
      },function onError(response) {
        display("danger", "Something wrong happened while creating the new broker.");
        $scope.x1.doClean();
      });
    }

    $scope.x1.doUpdate = function() {
      var content = "uri=" + $scope.x1.item.uri + "&name=" + $scope.x1.item.name + ($scope.x1.item.username ? "&username=" + $scope.x1.item.username : "") + ($scope.x1.item.password ? "&password=" + $scope.x1.item.password : "");
      $http({method:'POST',url:'../brokers/update',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
        display("success", "The broker " + $scope.x1.item.uri + " has been sucessfully updated.");
        $scope.x1.doClean();
        if (Math.ceil($scope.x1.size / $scope.x1.length) < $scope.x1.offset) {
          $scope.x1.offset = $scope.x1.offset - $scope.x1.length;
        }
        $scope.x1.doSize();
        $scope.x1.doPage();
      },function onError(response) {
        display("danger", "Something wrong happened while updating the broker #" + $scope.x1.item.uri +".");
        $scope.x1.doClean();
      });
    }

    $scope.x1.doDelete = function() {
      var content = "uri=" + $scope.x1.item.uri;
      $http({method:'POST',url:'../brokers/delete',data:content,headers:{'Content-Type': 'application/x-www-form-urlencoded'}})
      .then(function onSuccess(response) {
        display("success", "The broker " + $scope.x1.item.uri + " has been sucessfully deleted.");
        $scope.x1.doClean();
        if (Math.ceil($scope.x1.size / $scope.x1.length) < $scope.x1.offset) {
          $scope.x1.offset = $scope.x1.offset - $scope.x1.length;
        }
        $scope.x1.doSize();
        $scope.x1.doPage();
      },function onError(response) {
        display("danger", "Something wrong happened while deleting the broker #" + $scope.x1.item.uri +".");
        $scope.x1.doClean();
      });
    }
	
    $scope.x1.doSize();
    $scope.x1.doPage();
    
  });
  </script -->
