<?xml version="1.0" encoding="UTF-8"?>
<web-app 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	version="3.0">

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>JDBC Resource</description>
    <res-ref-name>jdbc/database</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

  <context-param>
    <param-name>jdbc-resource</param-name>
    <param-value>jdbc/database</param-value>
  </context-param>

  <listener>
    <listener-class>com.github.jeromerocheteau.JdbcListener</listener-class>
  </listener>

  <context-param>
    <param-name>mongodb-server</param-name>
    <param-value>mongodb://localhost:27017</param-value>
  </context-param>

  <context-param>
    <param-name>mongodb-database</param-name>
    <param-value>emit</param-value>
  </context-param>
  
  <listener>
    <listener-class>fr.icam.emit.listeners.MongoListener</listener-class>
  </listener>

  <filter>
    <filter-name>jdbc-filter</filter-name>
    <filter-class>com.github.jeromerocheteau.JdbcFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>jdbc-filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- user -->

  <servlet>
    <servlet-name>user-clear</servlet-name>
    <servlet-class>fr.icam.emit.servlets.UserClear</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-clear</servlet-name>
    <url-pattern>/user/clear</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>user-check</servlet-name>
    <servlet-class>fr.icam.emit.servlets.UserCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>user-check</servlet-name>
    <url-pattern>/user/check</url-pattern>
  </servlet-mapping>

  <!-- measures -->

  <servlet>
    <servlet-name>measure-size</servlet-name>
    <servlet-class>fr.icam.emit.servlets.Sizer</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-size.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-size</servlet-name>
    <url-pattern>/measures/size</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measure-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-list</servlet-name>
    <url-pattern>/measures/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measure-page</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurePage</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-page.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-page</servlet-name>
    <url-pattern>/measures/page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measure-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-create</servlet-name>
    <url-pattern>/measures/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measure-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasureUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-update</servlet-name>
    <url-pattern>/measures/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measure-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.Deleter</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measure-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measure-delete</servlet-name>
    <url-pattern>/measures/delete</url-pattern>
  </servlet-mapping>

  <!-- instruments -->

  <servlet>
    <servlet-name>instrument-size</servlet-name>
    <servlet-class>fr.icam.emit.servlets.Sizer</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-size.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-size</servlet-name>
    <url-pattern>/instruments/size</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instrument-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.InstrumentList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-list</servlet-name>
    <url-pattern>/instruments/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instrument-page</servlet-name>
    <servlet-class>fr.icam.emit.servlets.InstrumentPage</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-page.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-page</servlet-name>
    <url-pattern>/instruments/page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instrument-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.InstrumentCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-create</servlet-name>
    <url-pattern>/instruments/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instrument-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.InstrumentUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-update</servlet-name>
    <url-pattern>/instruments/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>instrument-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.Deleter</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/instrument-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>instrument-delete</servlet-name>
    <url-pattern>/instruments/delete</url-pattern>
  </servlet-mapping>

  <!-- features -->

  <servlet>
    <servlet-name>feature-size</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureSize</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-size.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-size</servlet-name>
    <url-pattern>/features/size</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feature-list</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureList</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-list.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-list</servlet-name>
    <url-pattern>/features/list</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feature-page</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeaturePage</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-page.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-page</servlet-name>
    <url-pattern>/features/page</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feature-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-create.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-create</servlet-name>
    <url-pattern>/features/create</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feature-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-update.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-update</servlet-name>
    <url-pattern>/features/update</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>feature-delete</servlet-name>
    <servlet-class>fr.icam.emit.servlets.Deleter</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-delete.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>feature-delete</servlet-name>
    <url-pattern>/features/delete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>feature-start</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureStart</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>feature-enable</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureEnable</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-enable.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>feature-stop</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureStop</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>feature-disable</servlet-name>
    <servlet-class>fr.icam.emit.servlets.FeatureDisable</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/feature-disable.sql</param-value>
    </init-param>
  </servlet>

  <!-- measurement -->
  
  <servlet>
    <servlet-name>measurement-item</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementItem</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-item.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-item</servlet-name>
    <url-pattern>/measurements/item</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurement-size</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementSize</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-size.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-size</servlet-name>
    <url-pattern>/measurements/size</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurement-page</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementPage</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-page.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-page</servlet-name>
    <url-pattern>/measurements/page</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>measurement-data</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementData</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-data.sql</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>measurement-data</servlet-name>
    <url-pattern>/measurements/data</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>measurement-create</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementCreate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-create.sql</param-value>
    </init-param>
  </servlet>

  <servlet>
    <servlet-name>measurement-update</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MeasurementUpdate</servlet-class>
    <init-param>
      <param-name>sql-query</param-name>
      <param-value>/fr/icam/emit/queries/measurement-update.sql</param-value>
    </init-param>
  </servlet>

  <!-- monitor -->

  <servlet>
    <servlet-name>monitor-start</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MonitorStart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitor-start</servlet-name>
    <url-pattern>/monitor/start</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>monitor-stop</servlet-name>
    <servlet-class>fr.icam.emit.servlets.MonitorStop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>monitor-stop</servlet-name>
    <url-pattern>/monitor/stop</url-pattern>
  </servlet-mapping>

  <!-- security -->

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>all</web-resource-name>
      <url-pattern>/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <security-role>
    <role-name>admin</role-name>
  </security-role>

  <security-role>
    <role-name>user</role-name>
  </security-role>

  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/security/index.html</form-login-page>
      <form-error-page>/security/failure.html</form-error-page>
    </form-login-config>
  </login-config>

</web-app>
